<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">車號</span>
        </div>

    </div>
    <div class="portlet-body">
        <div class="md-col-12" style="margin-bottom:15px;">
            <select class="form-control"
                    ng-model="filterData.zone"  ng-init="filterData.zone = {zoneId: 0}"
                    data-ng-options="x.zoneName for x in systeminfo.availableZone track by x.zoneId"
                    data-ng-change="updateZone();">
            </select>
        </div>
    </div>
</div>