<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">訂單編號</span>
        </div>
    </div>

    <div class="portlet-body">
        <div class="md-col-12" style="margin-bottom:15px;">
            <input type="text" id="invoiceNumber" ng-model="filterData.invoiceNumber" ng-change="updateInvoiceNumber();" class="form-control" placeholder="" select-on-click>
        </div>
    </div>
</div>