<div class="row">
	<div class="col-md-12">
		<form class="form-horizontal form-row-seperated" action="javascript:;">


			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-basket font-green-sharp"></i>
						<span class="caption-subject font-green-sharp bold uppercase">
						支票入帳</span>
						<span class="caption-helper">&nbsp;</span>
					</div>

				</div>


                <div class="tab-content no-space">
                    <div class="tab-pane active" id="tab_general">
                        <div class="form-body">

                            <div class="form-group">
                                <label class="col-md-2 control-label">銀行名稱: <span class="required">
										* </span>
                                </label>
                                    <div class="col-md-3">
                                        <select class="form-control" ng-model="cheque.bankName">
                                            <option value="003"> STANDARD CHARTERED BANK (HONG KONG) LIMITED 渣打銀行(香 港)有限公司</option>
                                            <option value="004"> THE HONGKONG AND SHANGHAI BANKING CORPORATION LIMITED 香港上海匯豐銀行有限公司</option>
                                            <option value="005"> CALYON 東方匯理銀行</option>
                                            <option value="006"> CITIBANK, N.A. 花旗銀行</option>
                                            <option value="007"> JPMORGAN CHASE BANK, N.A. 摩根大通銀行</option>
                                            <option value="008"> ABN AMRO BANK N.V. 荷蘭銀行</option>
                                            <option value="009"> BANK OF AMERICA (ASIA) LIMITED 美國銀行( 亞洲) 有限公司</option>
                                            <option value="011"> AMERICAN EXPRESS BANK LIMITED 美國運通銀行</option>
                                            <option value="012"> BANK OF CHINA (HONG KONG) LIMITED 中國銀行 (香 港) 有限公司</option>
                                            <option value="015"> THE BANK OF EAST ASIA, LIMITED 東亞銀行有限公司</option>
                                            <option value="016"> DBS BANK (HONG KONG) LIMITED 星展銀行 (香 港) 有限公司</option>
                                            <option value="018"> CITIC KA WAH BANK LIMITED 中信嘉華銀行有限公司</option>
                                            <option value="020"> WING LUNG BANK LIMITED 永隆銀行有限公司</option>
                                            <option value="021"> MEVAS BANK LIMITED 豐明銀行有限公司</option>
                                            <option value="022"> OVERSEA-CHINESE BANKING CORPORATION LTD. 華僑銀行</option>
                                            <option value="024"> HANG SENG BANK LTD. 恒生銀行有限公司</option>
                                            <option value="025"> SHANGHAI COMMERCIAL BANK LTD. 上海商業銀行有限公司</option>
                                            <option value="027"> BANK OF COMMUNICATIONS CO., LTD 交通銀行股份有限公司</option>
                                            <option value="028"> ASIA COMMERCIAL BANK LIMITED 亞洲商業銀行有限公司</option>
                                            <option value="035"> WING HANG BANK LTD. 永亨銀行有限公司</option>
                                            <option value="038"> TAI YAU BANK LTD. 大有銀行有限公司</option>
                                            <option value="039"> CHIYU BANKING CORPORATION LTD. 集友銀行有限公司</option>
                                            <option value="040"> DAH SING BANK, LTD. 大新銀行有限公司</option>
                                            <option value="041"> LIU CHONG HING BANK LIMITED 廖創興銀行有限公司</option>
                                            <option value="043"> NANYANG COMMERCIAL BANK, LTD. 南洋商業銀行有限公司</option>
                                            <option value="045"> UCO BANK046"> KOREA EXCHANGE BANK 韓國外換銀行</option>
                                            <option value="047"> THE BANK OF TOKYO-MITSUBISHI, LTD.</option>
                                            <option value="049"> BANGKOK BANK PUBLIC COMPANY LIMITED 盤谷銀行</option>
                                            <option value="050"> INDIAN OVERSEAS BANK 印度海外銀行</option>
                                            <option value="054"> DEUTSCHE BANK AG 德意志銀行</option>
                                            <option value="055"> BANK OF AMERICA, N.A. 美國銀行</option>
                                            <option value="056"> BNP PARIBAS 法國巴黎銀行</option>
                                            <option value="058"> BANK OF INDIA 印度銀行</option>
                                            <option value="060"> NATIONAL BANK OF PAKISTAN 巴基斯坦國民銀行</option>
                                            <option value="061"> TAI SANG BANK LTD. 大生銀行有限公司</option>
                                            <option value="063"> MALAYAN BANKING BERHAD (MAYBANK) 馬來亞銀行</option>
                                            <option value="065"> SUMITOMO MITSUI BANKING CORPORATION 三井住友銀行</option>
                                            <option value="066"> PT. BANK NEGARA INDONESIA (PERSERO) TBK. 印尼國家銀行</option>
                                            <option value="067"> EQUITABLE PCI BANK, INC. 建南銀行</option>
                                            <option value="068"> UFJ BANK LIMITED UFJ 銀行</option>
                                            <option value="071"> UNITED OVERSEAS BANK LTD. 大華銀行有限公司</option>
                                            <option value="072"> INDUSTRIAL AND COMMERCIAL BANK OF CHINA (ASIA) LIMITED 中國工商銀行 (亞 洲) 有限公司</option>
                                            <option value="073"> CHINA CONSTRUCTION BANK (ASIA) LIMITED 中國建設銀行 (亞洲) 有限公司</option>
                                            <option value="074"> BARCLAYS BANK PLC.</option>
                                            <option value="076"> THE BANK OF NOVA SCOTIA 加拿大豐業銀行</option>
                                            <option value="080"> ROYAL BANK OF CANADA</option>
                                            <option value="081"> SOCIETE GENERALE 法國興業銀行</option>
                                            <option value="082"> STATE BANK OF INDIA 印度國家銀行</option>
                                            <option value="085"> THE TORONTO-DOMINION BANK 加拿大多倫多道明銀行</option>
                                            <option value="086"> BANK OF MONTREAL 滿地可銀行</option>
                                            <option value="089"> BANK MELLI IRAN 伊朗國家銀行</option>
                                            <option value="091"> THE ROYAL BANK OF SCOTLAND PLC 蘇格蘭皇家銀行有限公司</option>
                                            <option value="092"> CANADIAN IMPERIAL BANK OF COMMERCE 加拿大帝國商業銀行</option>
                                            <option value="093"> BANK OF SCOTLAND 蘇格蘭銀行</option>
                                            <option value="097"> COMMERZBANK AG 德國商業銀行</option>
                                            <option value="103"> UBS AG, HONG KONG 瑞士銀行</option>
                                            <option value="106"> HSBC BANK USA, N.A.</option>
                                            <option value="109"> MIZUHO CORPORATE BANK, LTD., HONG KONG BRANCH 瑞穗實業銀行</option>
                                            <option value="112"> HANA BANK</option>
                                            <option value="113"> DZ BANK AG DEUTSCHE ZENTRAL - GENOSSENSCHAFTSBANK 德國中央合作銀行</option>
                                            <option value="116"> BANCA DI ROMA SPA 羅馬銀行</option>
                                            <option value="118"> WOORI BANK</option>
                                            <option value="119"> PHILIPPINE NATIONAL BANK</option>
                                            <option value="128"> FUBON BANK (HONG KONG) LIMITED 富邦銀行(香港)有限公司</option>
                                            <option value="133"> HSH NORDBANK AG 德國北方銀行有限公司</option>
                                            <option value="136"> BANCA NAZIONALE DEL LAVORO S.P.A. 意大利國家勞工銀行</option>
                                            <option value="138"> MITSUBISHI UFJ TRUST AND BANKING CORPORATION 三菱UFJ信託銀行</option>
                                            <option value="139"> THE BANK OF NEW YORK 紐約銀行</option>
                                            <option value="145"> ING BANK N.V. 荷蘭商業銀行</option>
                                            <option value="147"> BANCO BILBAO VIZCAYA ARGENTARIA, S.A. 西班牙對外銀行</option>
                                            <option value="150"> NATIONAL AUSTRALIA BANK LIMITED 澳洲銀行</option>
                                            <option value="151"> WESTPAC BANKING CORPORATION 西太平洋銀行</option>
                                            <option value="152"> AUSTRALIA AND NEW ZEALAND BANKING GROUP LIMITED 澳洲紐西蘭銀行集團</option>
                                            <option value="153"> COMMONWEALTH BANK OF AUSTRALIA 澳洲聯邦銀行</option>
                                            <option value="161"> BANCA INTESA S.P.A. 意大利聯合銀行</option>
                                            <option value="162"> SANPAOLO IMI S.P.A. 意大利聖保羅意米銀行</option>
                                            <option value="164"> BAYERISCHE HYPO-UND VEREINSBANK AG, HONG KONG BRANCH 德國裕寶聯合銀行165"> SVENSKA HANDELSBANKEN AB (PUBL) 瑞典商業銀行</option>
                                            <option value="170"> THE CHIBA BANK, LTD. 千葉銀行</option>
                                            <option value="176"> UNICREDITO ITALIANO S.P.A. 意大利聯合信貸銀行</option>
                                            <option value="178"> KBC BANK N.V., HONG KONG BRANCH 比利時聯合銀行</option>
                                            <option value="180"> WELLS FARGO BANK, N.A., HONG KONG BRANCH 富國銀行香港分行</option>
                                            <option value="183"> COÖPERATIEVE CENTRALE RAIFFEISEN - BOERENLEENBANK B.A. 荷蘭合作銀行</option>
                                            <option value="185"> DBS BANK LTD. HONG KONG BRANCH 星展銀行香港分行</option>
                                            <option value="186"> THE SHIZUOKA BANK LTD. 靜岡銀行</option>
                                            <option value="188"> THE HACHIJUNI BANK, LTD. 八十二銀行</option>
                                            <option value="196"> STANDARD BANK ASIA LIMITED 標準銀行亞洲有限公司</option>
                                            <option value="198"> HUA NAN COMMERCIAL BANK, LTD 華南商業銀行股份有限公司</option>
                                            <option value="199"> THE SHIGA BANK, LTD 滋賀銀行</option>
                                            <option value="201"> BANK OF TAIWAN 台灣銀行</option>
                                            <option value="202"> THE CHUGOKU BANK LIMITED</option>
                                            <option value="203"> FIRST COMMERCIAL BANK 第一商業銀行股份有限公司</option>
                                            <option value="205"> COUTTS BANK VON ERNST LTD</option>
                                            <option value="206"> CHANG HWA COMMERCIAL BANK, LTD. 彰化商業銀行股份有限公司</option>
                                            <option value="208"> BAYERISCHE LANDESBANK 巴伐利亞洲銀行</option>
                                            <option value="210"> NATEXIS BANQUES POPULAIRES 法國外貿銀行</option>
                                            <option value="214"> THE INDUSTRIAL AND COMMERCIAL BANK OF CHINA 中國工商銀行</option>
                                            <option value="218"> WESTLB AG 西德銀行</option>
                                            <option value="220"> STATE STREET BANK AND TRUST COMPANY 美國道富銀行</option>
                                            <option value="221"> CHINA CONSTRUCTION BANK CORPORATION 中國建設銀行股份有限公司</option>
                                            <option value="222"> AGRICULTURAL BANK OF CHINA 中國農業銀行</option>
                                            <option value="224"> THE IYO BANK, LTD., HONG KONG BRANCH 伊予銀行</option>
                                            <option value="225"> FORTIS BANK, HONG KONG BRANCH</option>
                                            <option value="226"> SHINKIN CENTRAL BANK 信金中央金庫</option>
                                            <option value="227"> ERSTE BANK DER OESTERREICHISCHEN SPARKASSEN AG</option>
                                            <option value="228"> LANDESBANK BADEN-WüRTTEMBERG, HONG KONG BRANCH</option>
                                            <option value="229"> CHINATRUST COMMERCIAL BANK, LTD. 中國信託商業銀行股份有限公司</option>
                                            <option value="230"> TAIWAN BUSINESS BANK, HONG KONG BRANCH 臺灣中小企業銀行</option>
                                            <option value="233"> CREDIT SUISSE</option>
                                            <option value="234"> BANCA MONTE DEI PASCHI DI SIENA S.P.A. HONG KONG BRANCH 意大利西雅那銀行香港分行</option>
                                            <option value="235"> HSBC PRIVATE BANK (SUISSE) SA 豐私人銀行 ( 瑞 士 ) 有限公司</option>
                                            <option value="236"> CATHAY UNITED BANK COMPANY, LIMITED 國泰世華商業銀行股份有限公司</option>
                                            <option value="237"> EFG BANK 瑞士 EFG 銀行</option>
                                            <option value="238"> CHINA MERCHANTS BANK CO., LTD. 招商銀行股份有限公司</option>
                                            <option value="239"> TAIPEI FUBON COMMERCIAL BANK CO., LTD. 台北富邦商業銀行股份有限公司</option>
                                            <option value="240"> BNP PARIBAS PRIVATE BANK 法國巴黎私人銀行</option>
                                            <option value="241"> BANK SINOPAC 建華商業銀行股份有限公司</option>
                                            <option value="242"> THE INTERNATIONAL COMMERCIAL BANK OF CHINA CO., LTD. 中國國際商業銀行股份有限公司</option>
                                            <option value="243"> E. SUN COMMERCIAL BANK, LTD. 玉山商業銀行股份有限公司</option>
                                            <option value="244"> INTERNATIONAL BANK OF TAIPEI 臺北國際商業銀行股份有限公司</option>
                                            <option value="245"> TAISHIN INTERNATIONAL BANK CO., LTD. 台新國際商業銀行股份有限公司</option>
                                            <option value="246"> UNITED COMMERCIAL BANK 聯合銀行</option>
                                            <option value="247"> PUBLIC BANK BERHAD 大眾銀行</option>
                                            <option value="248"> HONG LEONG BANK BERHAD 豐隆銀行有限公司</option>
                                            <option value="249"> STANDARD CHARTERED BANK HONG KONG BRANCH 渣打銀行</option>
                                            <option value="250"> CITIBANK (HONG KONG) LIMITED 花旗銀行 ( 香 港 ) 有限公司</option>
                                            <option value="251"> ICICI BANK LIMITED</option>
                                        </select>
                                    </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">支票號碼: <span class="required">
										* </span>
                                </label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" data-ng-model="cheque.no" placeholder="">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">客戶 (c) <span class="required">
										* </span>
                                </label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input id="client" class="form-control" type="text" disabled name="client" placeholder="自動填上, 請按鍵選擇" data-ng-model="filterData.displayName")/>
											<span class="input-group-btn">
												<a href="#" accesskey="c" data-target="#selectclientmodel" data-toggle="modal"  id="selectclient" class="btn btn-success" type="button"><i class="fa fa-arrow-left fa-fw"/></i> 搜索</a>
											</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">總數: <span class="required">
										* </span>
                                </label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" data-ng-model="cheque.amount" placeholder="">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">入票日期:
                                </label>
                                <div class="col-md-5">
                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="">
                                        <input type="text" class="form-control"  ng-model="cheque.receiveDate"  readonly>
											<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">開始日期:
                                </label>
                                <div class="col-md-5">
                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="">
                                        <input type="text" class="form-control"  ng-model="cheque.startDate"  readonly>
											<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">結束日期:
                                </label>
                                <div class="col-md-5">
                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="">
                                        <input type="text" class="form-control"  ng-model="cheque.endDate"  readonly>
											<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-12">
                                   <div class="pull-right"> <button type="button" ng-click="submitCheque();" id="submitbutton" class="btn blue">提交 (F10)</button></div>
                                </div>
                            </div>



                        </div>
                    </div>



                </div>

			</div>


		</form>

        <!-- Select Client Modal -->
        <div ng-include="'/views/model_selectclient.html'"></div>

	</div>
</div>





