<style>
    .dataTables_filter
    {
        display:none;
    }
</style>

<form class="form-horizontal" role="form" id="queryInfo" data-ng-init="">

    <div class="col-md-2">
        <!--Invoice No.-->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-cogs font-green-sharp"></i>
					<span class="caption-subject font-green-sharp bold uppercase">Shipping ID</span>
				</div>				
			</div>
			
			<div class="portlet-body">				
				<div class="md-col-12" style="margin-bottom:15px;">
					<input type="text" id="poCode" ng-model="filterData.shippingId" class="form-control" placeholder="">
				</div>
			</div>
		</div>

		<!--Supplier Name-->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-cogs font-green-sharp"></i>
					<span class="caption-subject font-green-sharp bold uppercase">Supplier Name</span>
				</div>
			</div>

			<div class="portlet-body">
				<div class="md-col-12" style="margin-bottom:15px;">
					<input type="text" id="supplierName" ng-model="filterData.supplierName" class="form-control" placeholder="">
				</div>
			</div>
		</div>

		<!--container No.-->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-cogs font-green-sharp"></i>
					<span class="caption-subject font-green-sharp bold uppercase">Container No.</span>
				</div>
			</div>

			<div class="portlet-body">
				<div class="md-col-12" style="margin-bottom:15px;">
					<input type="text" id="containerId" ng-model="filterData.containerId" class="form-control" placeholder="">
				</div>
			</div>
		</div>

		<!-- 支付日期 -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-cogs font-green-sharp"></i>
					<span class="caption-subject font-green-sharp bold uppercase">到港期</span>
				</div>

			</div>

			<div class="portlet-body">
				<div class="md-col-12" style="margin-bottom:15px;">
					<div class="input-group  date " id="etaDate" data-date-format="yyyy-mm-dd" data-date-start-date="">
						<input type="text" class="form-control" readonly ng-model="filterData.etaDate">
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
					</div>
					至
					<div class="input-group  date " id="etaDate2" data-date-format="yyyy-mm-dd" data-date-start-date="">
						<input type="text" class="form-control" readonly ng-model="filterData.etaDate2">
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
					</div>
				</div>
			</div>


			<div class="portlet-body">
				<div class="md-col-12">
					<button type="button" ng-click="updateDataSet();" id="submitbutton" class="btn blue">提交</button>
				</div>
			</div>

		</div>


		<!-- Delivery Date -->




		
	</div>

	<div class="col-md-10">
		<div class="row">
			<div class="col-md-12">
				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs font-green-sharp"></i>
							<span class="caption-subject font-green-sharp bold uppercase">搜索結果</span>
						</div>
						
					</div>
					<div class="portlet-body">

						<table class="table table-striped table-bordered table-hover" id="datatable_ajax">
						<thead>
							<tr role="row" class="heading">

                                                                <th id="shippings.poCode" ng-click="click($event);">供應商</th>
                                                                <th ng-click="click($event);">貨櫃大細</th>
																	<th>Carrier</th>
                                                                <th id="shippings.vesel" ng-click="click($event);">Vessel</th>
                                                                <th>Container No.</th>
                                                                <th id="carrier" ng-click="click($event);">產品編號</th>
                                                                <th>產品名稱</th>
																<th>數量</th>
                                                                <th id="shippings.updated_at" ng-click="click($event);">到港日期</th>
                                                                <th>免倉期</th>
								<th></th>
							</tr>
							
						</thead>
						<tbody>
						</tbody>
					</table>						
					</div>
				</div>
				<!-- END EXAMPLE TABLE PORTLET-->
			</div>
		</div>
    </div>
</form>
<!-- Select Client Modal -->
<div ng-include="'/views/model_ship.html'"></div>

<div ng-include="'/views/model_selectsupplier.html'"></div>