<div class="modal fade bs-modal-lg " id="countryFormModal" data-ng-init="" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>
				
				<h4 class="modal-title">國家管理</h4>
			</div>
			<div class="modal-body">
				<form action="javascript:;" class="form-horizontal">
					<div class="form-body">
                                           
						<div class="form-group">
							<label class="col-md-3 control-label">國家代碼 *</label>
							<div class="col-md-9 " >
								<select ng-model="info.countryId" class="form-control">
									<option value="HK">HK</option>
									<option value="US">US</option>
                                                                        <option value="AF">AF</option>
								</select>
							</div>
						</div>
						
						<div class="form-group" >
							<label class="col-md-3 control-label">國家名稱 *</label>
							<div class="col-md-9">
								<!-- <input type="text" ng-model="info.advertisement" class="form-control" placeholder=""> -->
								<textarea class="form-control" ng-model="info.countryName" rows="3">
								</textarea>
							</div>
						</div>
						
						
					</div>
				</form>
				
			</div>
			<div class="modal-footer">
					<button type="button" class="btn blue" data-ng-click="submitIPFForm();">提交</button>
					<button type="button" class="btn default" data-dismiss="modal">取消</button>
				</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>