<form class="form-horizontal" role="form" id="queryInfo">
    <div class="col-md-2">
        <!-- Client -->
        <div ng-include="'/views/module/search_client.html'" ></div>

        <!--invoice-->
        <div ng-include="'/views/module/search_invoice.html'" ></div>

        <!-- Zone -->
        <div ng-include="'/views/module/search_zone.html'" ></div>


        <!-- Status -->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">狀態</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="md-col-12" style="margin-bottom:15px;">
                    <div class="radio-list">
                        <label><input ng-model="filterData.status" data-ng-change="updateStatus();" type="radio" name="status" id="status" value="0" checked> 其他</label>
                        <label><input ng-model="filterData.status" data-ng-change="updateStatus();" type="radio" name="status" id="" value="30"> 完成</label>

                    </div>
                </div>
            </div>
        </div>



        <!-- Delivery Date -->

        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">送貨日期</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="md-col-12" style="margin-bottom:15px;">
                    <div class="radio-list">
                        <label><input ng-model="filterData.deliverydate" data-ng-change="updateDelvieryDate();" type="radio" name="deliverydate" id="deliverydate"  value="today">今天 </label>
                        <label><input ng-model="filterData.deliverydate" data-ng-change="updateDelvieryDate();" type="radio" name="deliverydate" id="deliverydate" checked value="last day">昨天 </label>
                        <label><input ng-model="filterData.deliverydate" data-ng-change="updateDelvieryDate();" type="radio" name="deliverydate" id="deliverydate" value="coming-7-days" >未來  7 天 </label>
                        <label><input ng-model="filterData.deliverydate" data-ng-change="updateDelvieryDate();" type="radio" name="deliverydate" id="deliverydate"  value="past-7-days" >過去  7 天 </label>
                        <label><input ng-model="filterData.deliverydate" data-ng-change="updateDelvieryDate();" type="radio" name="deliverydate" id="deliverydate" value="past-30-days">過去 30 天 </label>
                        <label><input ng-model="filterData.deliverydate" data-ng-change="updateDelvieryDate();" type="radio" name="deliverydate" id="deliverydate" value="past-180-days">過去 180 天 </label>
                        <!-- <label><input ng-model="filterData.deliverydate" data-ng-change="updateDelvieryDate();" type="radio" name="deliverydate" id="deliverydate" value="custom"> 自訂日期 </label> -->

                    </div>
                    <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" style="display:none;" id="customDeliveryDate">
                        <input type="text" class="form-control" data-ng-change="updateDelvieryDate();" ng-model="filterData.customDeliveryDate"  readonly>
						<span class="input-group-btn">
							<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
						</span>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">現金客列表</span>
                        </div>
                    </div>
                    <div class="portlet-body">












                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr role="row" class="heading">
                                    <th width="15%">
                                        訂單編號
                                    </th>
                                    <th width="10%">
                                        送貨日期
                                    </th>
                                    <th width="5%">
                                        車線
                                    </th>
                                    <th width="20%">
                                        客戶
                                    </th>
                                    <th width="5%">
                                        金額
                                    </th>

                                    <th width="8%">
                                    狀態
                                </th>

                                    <th width="15%">
                                        狀態
                                    </th>
                                    <th width="20%">

                                    </th>

                                </tr>

                                </thead>
                                <tr data-ng-repeat="(k,i) in invoiceinfo" style="line-height:35px;font-size:15px;{{i.backgroundcode}}">

                                    <td>
                                        {{i.invoiceId}}
                                    </td>
                                    <td>{{i.deliveryDate_date}}</td>
                                    <td>{{i.zoneId}}</td>
                                    <td>{{i.client.customerName_chi}}</td>
                                    <td>{{i.amount}}</td>
                                    <td>{{i.invoiceStatusText}}</td>
                                    <td ng-init="invoicepaid[k]['paid']=20">
                                        <label><input type="radio" name="r1{{k}}" ng-model="invoicepaid[k]['paid']" value="20" />已收貨</label>
                                        <label> <input type="radio" name="r1{{k}}" ng-model="invoicepaid[k]['paid']" value="30" />完成</label>
                                    </td>

                                    <td>
                                        <input type="text" ng-model="invoicepaid[k]['date']" ng-if="invoicepaid[k]['paid'] == '30'" value=" {{invoicepaid[k]['date'] | date: 'yyyy-MM-dd"}}">
                                    </td>
                                </tr>


                            </table>

                            <div class="form-group">

                                <div class="col-md-12">
                                    <div class="pull-right"> <button type="button" ng-click="autoPost();" id="submitbutton" class="btn blue">提交</button></div>
                                </div>
                            </div>

                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>

</form>

</div>

<!-- Select Client Modal -->
<div ng-include="'/views/model_selectclient.html'"></div>
