<div class="modal fade bs-modal-lg " id="customerFormModal" data-ng-init="" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>
				
				<h4 class="modal-title">客戶管理 - (最後修改日期:<font id="format_date"></font>修改人:{{customerInfo.updated_by_text}})</h4>
			</div>
			<div class="modal-body">
				<form action="javascript:;" class="form-horizontal">
					<div class="form-body">

                        <div class="form-group" data-ng-if="customerInfo.customerId == ''">
                            <label class="col-md-2 control-label">客户編號</label>
                            <div class="col-md-2">
                                <input type="text" ng-model="customerInfo.productnewId" class="form-control" placeholder="Enter text" ng-change="checkIdexist()">
                            </div>
                            <div class="col-md-3">
                                <label class="control-label" data-ng-if="productIdused == true"><span style="color: red">客户編號已被使用</span></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">集團<span class="required">
										* </span>
                            </label>
                            <div class="col-md-5">

                                    <div class="input-group">
                                        <input id="client" class="form-control" type="text" disabled name="client" placeholder="自動填上, 請按鍵選擇" data-ng-model="customerInfo.groupname")/>
                                                <span class="input-group-btn">
                                                    <a data-ng-click="showselectgroup();" class="btn btn-success" type="button"><i class="fa fa-arrow-left fa-fw"/></i> 搜索</a>
                                                </span>
                                    </div>


                            </div>
                            <div class="col-md-3">


                                <div class="actions">
                                    <a href="javascript:;" ng-click="clearGroup();" class="btn btn-default btn-circle">
                                        <i class="fa fa-times"></i>
                                        <span class="hidden-480"> 清除 </span> </a>
                                </div>
                            </div>
                        </div>

						<div class="form-group">
							<label class="col-md-2 control-label">名稱 (中) *</label>
							<div class="col-md-10">
								<input type="text" id="address_cht" ng-model="customerInfo.customerName_chi" class="form-control" placeholder="Enter text">
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label">名稱 (英)</label>
							<div class="col-md-10">
								<input type="text" ng-model="customerInfo.customerName_eng" class="form-control" placeholder="Enter text">
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label">地址 (中) *</label>
							<div class="col-md-10">
								<input type="text"  ng-model="customerInfo.address_chi" class="form-control" placeholder="Enter text">
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label">地址 (英)</label>
							<div class="col-md-10">
								<input type="text" ng-model="customerInfo.address_eng" class="form-control" placeholder="Enter text">
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label">區域 *</label>
							<div class="col-md-10">
								<select class="form-control" 
									ng-model="customerInfo.deliveryZone" 
									data-ng-options="x.zoneName for x in systeminfo.availableZone track by x.zoneId" >								
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label">車站 *</label>
							<div class="col-md-10">
								<input type="text" ng-model="customerInfo.routePlanningPriority" class="form-control" placeholder="輸入數字">
							</div>
						</div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Shift*</label>
                            <div class="col-md-10">
                                <select class="form-control"
                                        ng-model="customerInfo.shift"
                                        data-ng-options="x.label for x in statuscat1 track by x.value" >
                                </select>
                            </div>
                        </div>

						<div class="form-group">
							<label class="col-md-2 control-label">聯絡人 (1)</label>
							<div class="col-md-10">
								<input type="text"  ng-model="customerInfo.contactPerson_1" class="form-control" placeholder="Enter text">
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label">聯絡人 (2)</label>
							<div class="col-md-10">
								<input type="text" ng-model="customerInfo.contactPerson_2" class="form-control" placeholder="Enter text">
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label">電話 (1) *</label>
							<div class="col-md-10">
								<input type="text" ng-model="customerInfo.phone_1" class="form-control phone" placeholder="Enter text">
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label">電話 (2)</label>
							<div class="col-md-10">
								<input type="text" ng-model="customerInfo.phone_2" class="form-control phone" placeholder="Enter text">
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label">狀態*</label>
							<div class="col-md-10">
								<select class="form-control" 
									ng-model="customerInfo.status" 
									data-ng-options="x.label for x in statuscat track by x.value" >								
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label">付款方式* </label>
							<div class="col-md-10">
								<select ng-model="customerInfo.paymentTermId" class="form-control" >
									<option value="1">Cash</option>
									<option value="2">Credit</option>
								</select>
							</div>
						</div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">客戶備註 </label>
                            <div class="col-md-10">
                                <textarea class="form-control" placeholder="" id="remark" cols="50"  ng-model="customerInfo.remark">{{customerInfo.remark}}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">會計-聯絡人</label>
                            <div class="col-md-10">
                                <input type="text"  ng-model="customerInfo.account_contact" class="form-control" placeholder="Enter text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">會計-電話</label>
                            <div class="col-md-10">
                                <input type="text"  ng-model="customerInfo.account_tel" class="form-control" placeholder="Enter text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">會計-Fax</label>
                            <div class="col-md-10">
                                <input type="text"  ng-model="customerInfo.account_fax" class="form-control" placeholder="Enter text">
                            </div>
                        </div>


                    </div>
				</form>
				
			</div>
						<div class="modal-footer">
					<h2>{{newId}}</h2>
					<button type="button" class="btn blue" data-ng-if="submitbtn == true" data-ng-click="submitCustomerForm();">提交</button>
					<button type="button" class="btn default" data-ng-if="submitbtn == true" data-dismiss="modal">取消</button>
				</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>

