<div class="modal fade bs-modal-lg " id="inventorySalesReturnModal" data-ng-init="" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>

                <h4 class="modal-title">庫存調整 - (最後修改日期:{{info.updated_at}} 修改人:{{info.updated_by}})</h4>
            </div>

			<div class="modal-body">
				<form action="javascript:;" class="form-horizontal">
					<div class="form-body">

                        <div class="form-group">
                            <label class="col-md-2 control-label">產品編號</label>
                            <div class="col-md-10">
                                <label class="control-label"><span> {{info.productId}}</span></label>
                            </div>
                        </div>

 						<div class="form-group">
							<label class="col-md-2 control-label">名稱</label>
							<div class="col-md-10">
                                <label class="control-label"><span> {{ info.product.productName_chi}}</span></label>
							</div>
						</div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">回好貨數量</label>
                            <div class="col-md-10">
                                <input type="text" ng-model="info.return_good_qty" class="form-control" placeholder="Enter text" select-on-click >
                            </div>
                        </div>

						<div class="form-group">
							<label class="col-md-2 control-label">回壞貨數量</label>
							<div class="col-md-10">
								<input type="text" ng-model="info.return_damage_qty" class="form-control" placeholder="Enter text" select-on-click>
							</div>
						</div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">有效日期</label>
                           <div class="col-md-10">
                                <label class="control-label"><span> {{ info.expiry_date}}</span></label>
                            </div>
                        </div>

						
					</div>
				</form>
				
			</div>
			<div class="modal-footer">
					<h2>{{newId}}</h2>
					<button type="button" class="btn blue" data-ng-if="submitbtn == true" data-ng-click="submitSalesReturnForm();">提交</button>
					<button type="button" class="btn default" data-ng-if="submitbtn == true" data-dismiss="modal">取消</button>
				</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>