<div class="modal fade bs-modal-lg " id="ipfFormModal" data-ng-init="" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>
				
				<h4 class="modal-title">設定管理</h4>
			</div>
			<div class="modal-body">
				<form action="javascript:;" class="form-horizontal">
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-3 control-label">生效日期 (開始) *</label>
							<div class="col-md-9">
								<div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="+0d">
									<input type="text" class="form-control" ng-model="info.from"  readonly>
									<span class="input-group-btn">
										<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
									</span>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-3 control-label">生效日期 (結束) *</label>
							<div class="col-md-9">
								<div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="+0d">
									<input type="text" class="form-control" ng-model="info.to"  readonly>
									<span class="input-group-btn">
										<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
									</span>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-3 control-label">紙張 *</label>
							<div class="col-md-9 " >
								<select ng-model="info.size" class="form-control">
									<option value="A4">A4</option>
									<option value="A5">A5</option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-3 control-label">頁底內容 *</label>
							<div class="col-md-9">
								<!-- <input type="text" ng-model="info.advertisement" class="form-control" placeholder=""> -->
								<textarea class="form-control" ng-model="info.advertisement" rows="6">
								</textarea>
							</div>
						</div>
						
						
					</div>
				</form>
				
			</div>
			<div class="modal-footer">
					<button type="button" class="btn blue" data-ng-click="submitIPFForm();">提交</button>
					<button type="button" class="btn default" data-dismiss="modal">取消</button>
				</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>