<div class="modal fade bs-modal-lg" id="invoicePayment"  tabindex="-1" role="dailog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true"></button>

                <h4 class="modal-title">處理訂單</h4>
            </div>

            <div class="modal-body">

                <form action="javascript:;" class="form-horizontal">
                    <div class="form-body">



                        <div class="col-md-12">

                            <div class="portlet light bordered">

                                <div class="portlet-title">
                                    <div class="caption font-green-sharp">
                                        <i class="icon-speech font-green-sharp"></i>
                                        <span class="caption-subject bold uppercase">客戶結欠詳情</span>
                                        <span class="caption-helper"></span>
                                    </div>
                                </div>



                                <div class="portlet-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active">
                                            <div>
                                                <!--<h4></h4>-->
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                    <tr role="row" class="heading">
                                                        <th width="10%">送貨日期</th>
                                                        <th width="5%">訂單編號</th>
                                                        <th width="5%">總數</th>
                                                        <th width="5%">已付</th>
                                                        <th width="13%">尚欠</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr data-ng-repeat="i in paymentDetails" style="line-height:35px;font-size:15px;{{i.backgroundcode}}"  ng-style="i.invoiceId === filterData.invoiceId && {'background-color':'yellow'}">
                                                        <td>
                                                            {{i.deliveryDate_date}}
                                                        </td>

                                                        <td>
                                                            {{i.invoiceId}}
                                                        </td>
                                                        <td>
                                                            {{i.amount}}
                                                        </td>
                                                        <td>
                                                            ${{i.paid}}
                                                        </td>
                                                        <td>
                                                            {{i.owe}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <!--<td colspan="10"style="line-height:35px;font-size:15px;font-weight:bold;text-align:right;">總額: HK${{invoiceinfo.invoiceTotalAmount | number : 2}}  ({{invoiceinfo.invoiceDiscount}}%off)</td>-->
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <br/>
                                                <div style="clear:both;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">狀態:</label>

                            <div class="col-md-3">
                                <div class="control-label pull-left"> <label><input ng-model="filterData.status" type="radio" name="status" id="status" value="20" >已收貨未付款</label>
                                    <label><input ng-model="filterData.status" type="radio" name="status" id="status1" value="30" >完成</label></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">支付日期:
                            </label>
                            <div class="col-md-3">
                                <div class="input-group input-medium date" id="date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="">
                                    <input type="text" class="form-control"  ng-model="filterData.receiveDate"  readonly>
											<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-2 control-label">銀行名稱: <span class="required">	* </span>
                            </label>
                            <div class="pull-left col-md-3">
                                <input type="text" class="form-control" data-ng-model="filterData.bankCode" placeholder="Bank Code" onClick="this.select();">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">
                            </label>
                            <div class="pull-left col-md-3">
                                <select class="form-control" ng-model="filterData.bankCode">
                                    <option value="003">渣打銀行(香港)有限公司</option>
                                    <option value="004">香港上海匯豐銀行有限公司</option>
                                    <option value="005">東方匯理銀行</option>
                                    <option value="006">花旗銀行</option>
                                    <option value="007">摩根大通銀行</option>
                                    <option value="008">荷蘭銀行</option>
                                    <option value="009">美國銀行(亞洲)有限公司</option>
                                    <option value="011">美國運通銀行</option>
                                    <option value="012">中國銀行 (香港) 有限公司</option>
                                    <option value="015">東亞銀行有限公司</option>
                                    <option value="016">星展銀行 (香港) 有限公司</option>
                                    <option value="018">中信嘉華銀行有限公司</option>
                                    <option value="020">永隆銀行有限公司</option>
                                    <option value="021">豐明銀行有限公司</option>
                                    <option value="022">華僑銀行</option>
                                    <option value="024">恒生銀行有限公司</option>
                                    <option value="025">上海商業銀行有限公司</option>
                                    <option value="027">交通銀行股份有限公司</option>
                                    <option value="028">(亞洲)商業銀行有限公司</option>
                                    <option value="035">永亨銀行有限公司</option>
                                    <option value="038">大有銀行有限公司</option>
                                    <option value="039">集友銀行有限公司</option>
                                    <option value="040">大新銀行有限公司</option>
                                    <option value="041">廖創興銀行有限公司</option>
                                    <option value="043">南洋商業銀行有限公司</option>
                                    <option value="049">盤谷銀行</option>
                                    <option value="050">印度海外銀行</option>
                                    <option value="054">德意志銀行</option>
                                    <option value="055">美國銀行</option>
                                    <option value="056">法國巴黎銀行</option>
                                    <option value="058">印度銀行</option>
                                    <option value="060">巴基斯坦國民銀行</option>
                                    <option value="061">大生銀行有限公司</option>
                                    <option value="063">馬來亞銀行</option>
                                    <option value="065">三井住友銀行</option>
                                    <option value="066">印尼國家銀行</option>
                                    <option value="067">建南銀行</option>
                                    <option value="071">大華銀行有限公司</option>
                                    <option value="072">中國工商銀行 亞 洲 有限公司</option>
                                    <option value="073">中國建設銀行 (亞洲) 有限公司</option>
                                    <option value="076">加拿大豐業銀行</option>
                                    <option value="081">法國興業銀行</option>
                                    <option value="082">印度國家銀行</option>
                                    <option value="085">加拿大多倫多道明銀行</option>
                                    <option value="086">滿地可銀行</option>
                                    <option value="089">伊朗國家銀行</option>
                                    <option value="091">蘇格蘭皇家銀行有限公司</option>
                                    <option value="092">加拿大帝國商業銀行</option>
                                    <option value="093">蘇格蘭銀行</option>
                                    <option value="097">德國商業銀行</option>
                                    <option value="103">瑞士銀行</option>
                                    <option value="109">瑞穗實業銀行</option>
                                    <option value="113">德國中央合作銀行</option>
                                    <option value="116">羅馬銀行</option>
                                    <option value="128">富邦銀行香港有限公司</option>
                                    <option value="133">德國北方銀行有限公司</option>
                                    <option value="136">意大利國家勞工銀行</option>
                                    <option value="138">三菱信託銀行</option>
                                    <option value="139">紐約銀行</option>
                                    <option value="145">荷蘭商業銀行</option>
                                    <option value="147">西班牙對外銀行</option>
                                    <option value="150">澳洲銀行</option>
                                    <option value="151">西太平洋銀行</option>
                                    <option value="152">澳洲紐西蘭銀行集團</option>
                                    <option value="153">澳洲聯邦銀行</option>
                                    <option value="161">意大利聯合銀行</option>
                                    <option value="162">意大利聖保羅意米銀行</option>
                                    <option value="164">德國裕寶聯合銀行</option>
                                    <option value="165">瑞典商業銀行</option>
                                    <option value="170">千葉銀行</option>
                                    <option value="176">意大利聯合信貸銀行</option>
                                    <option value="178">比利時聯合銀行</option>
                                    <option value="180">富國銀行香港分行</option>
                                    <option value="183">荷蘭合作銀行</option>
                                    <option value="185">星展銀行香港分行</option>
                                    <option value="186">靜岡銀行</option>
                                    <option value="188">八十二銀行</option>
                                    <option value="196">標準銀行(亞洲)有限公司</option>
                                    <option value="198">華南商業銀行股份有限公司</option>
                                    <option value="199">滋賀銀行</option>
                                    <option value="201">台灣銀行</option>
                                    <option value="203">第一商業銀行股份有限公司</option>
                                    <option value="206">彰化商業銀行股份有限公司</option>
                                    <option value="208">巴伐利(亞洲)銀行</option>
                                    <option value="210">法國外貿銀行</option>
                                    <option value="214">中國工商銀行</option>
                                    <option value="218">西德銀行</option>
                                    <option value="220">美國道富銀行</option>
                                    <option value="221">中國建設銀行股份有限公司</option>
                                    <option value="222">中國農業銀行</option>
                                    <option value="224">伊予銀行</option>
                                    <option value="226">信金中央金庫</option>
                                    <option value="229">中國信託商業銀行股份有限公司</option>
                                    <option value="230">臺灣中小企業銀行</option>
                                    <option value="234">意大利西雅那銀行香港分行</option>
                                    <option value="235">豐私人銀行瑞 士有限公司</option>
                                    <option value="236">國泰世華商業銀行股份有限公司</option>
                                    <option value="237">瑞士銀行</option>
                                    <option value="238">招商銀行股份有限公司</option>
                                    <option value="239">台北富邦商業銀行股份有限公司</option>
                                    <option value="240">法國巴黎私人銀行</option>
                                    <option value="241">建華商業銀行股份有限公司</option>
                                    <option value="242">中國國際商業銀行股份有限公司</option>
                                    <option value="243">玉山商業銀行股份有限公司</option>
                                    <option value="244">臺北國際商業銀行股份有限公司</option>
                                    <option value="245">台新國際商業銀行股份有限公司</option>
                                    <option value="246">聯合銀行</option>
                                    <option value="247">大眾銀行</option>
                                    <option value="248">豐隆銀行有限公司</option>
                                    <option value="249">渣打銀行</option>
                                    <option value="250">花旗銀行(香港)有限公司</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">支票號碼:
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" data-ng-model="filterData.no" placeholder="" onClick="this.select();" ng-change="checkChequeExist()" ng-disabled="filterData.cashAmount != 0">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">支票金額:
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" data-ng-model="filterData.amount" placeholder="" onClick="this.select();" ng-disabled="cheque.amount > 0 || filterData.cashAmount != 0">

                            </div>
                        </div>

                        <div class="form-group" ng-if="cheque.amount>0">
                            <label class="col-md-2 control-label">支票餘額:
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" data-ng-model="filterData.remain" placeholder="" onClick="this.select();" disabled>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">支付數目:
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" data-ng-model="filterData.paid" placeholder="" onClick="this.select();" ng-disabled="filterData.cashAmount != 0">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">現金:
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" data-ng-model="filterData.cashAmount" placeholder="" onClick="this.select();" ng-disabled="filterData.paid != 0 || filterData.no != ''">

                            </div>
                        </div>



                    </div>





                    <div class="form-group">

                        <div class="col-md-12">
                            <div class="pull-right"> <button type="button" ng-click="autoPost();" id="submitbutton" class="btn blue">提交</button></div>
                        </div>
                    </div>


                </form>
            </div>




        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">取消</button>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
</div>