<div class="modal fade bs-modal-lg" id="updateStatusFindReport"tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>
				
				<h4 class="modal-title">更新狀態</h4>
			</div>
			<div class="modal-body">
				<h3 style="text-align:center;">你可以使用條碼掃描器 或 手動輸入報告編號</h3>
				<form role="form">
					<div class="form-group">
						<label class="col-md-3 control-label">報告編號</label>
						<div class="col-md-9">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-barcode"></i>
								</span>
								<input type="num" ng-model="reportId" class="form-control" placeholder="報告編號">
							</div>
						</div>
					</div>
				</form>
				<div style="clear:both;"></div>
			</div>
			<div class="modal-footer">
					<button type="button" class="btn default" data-dismiss="modal">取消</button>
					
					<button type="button blue" class="btn default" data-ng-click="updateStatusNextStep(reportId)">下一步</button>
				</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>