<div class="modal fade bs-modal-lg" id="invoicePayment"  tabindex="-1" role="dailog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true"></button>

                <h4 class="modal-title">處理訂單</h4>
            </div>

            <div class="modal-body">

                <form action="javascript:;" class="form-horizontal">
                    <div class="form-body">



                        <div class="col-md-12">

                            <div class="portlet light bordered">

                                <div class="portlet-title">
                                    <div class="caption font-green-sharp">
                                        <i class="icon-speech font-green-sharp"></i>
                                        <span class="caption-subject bold uppercase">客戶結欠詳情</span>
                                        <span class="caption-helper"></span>
                                    </div>
                                </div>



                                <div class="portlet-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active">
                                            <div>
                                                <!--<h4></h4>-->
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                    <tr role="row" class="heading">
                                                        <th width="10%">送貨日期</th>
                                                        <th width="5%">訂單編號</th>
                                                        <th width="5%">總數</th>
                                                        <th width="5%">已付</th>
                                                        <th width="13%">尚欠</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr data-ng-repeat="i in paymentDetails" style="line-height:35px;font-size:15px;{{i.backgroundcode}}"  ng-style="i.invoiceId === filterData.invoiceId && {'background-color':'yellow'}">
                                                        <td>
                                                            {{i.deliveryDate_date}}
                                                        </td>

                                                        <td>
                                                            {{i.invoiceId}}
                                                        </td>
                                                        <td>
                                                            {{i.amount}}
                                                        </td>
                                                        <td>
                                                            ${{i.paid}}
                                                        </td>
                                                        <td>
                                                            {{i.owe}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <!--<td colspan="10"style="line-height:35px;font-size:15px;font-weight:bold;text-align:right;">總額: HK${{invoiceinfo.invoiceTotalAmount | number : 2}}  ({{invoiceinfo.invoiceDiscount}}%off)</td>-->
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <br/>
                                                <div style="clear:both;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">收款車區:
                            </label>
                            <div class="col-md-3">
                                <select class="form-control"
                                        ng-model="filterData.zoneId"
                                        data-ng-options="x.zoneName for x in systeminfo.availableZone track by x.zoneId">
                                </select> </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">入票日期:
                            </label>
                            <div class="col-md-3">
                                <div class="input-group input-medium date" id="date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="">
                                    <input type="text" class="form-control"  ng-model="filterData.receiveDate"  readonly>
											<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">支票/收據號碼:
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" data-ng-model="filterData.no" placeholder="" onClick="this.select();" ng-disabled="filterData.cashAmount != 0">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">支票/收據金額:
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" data-ng-model="filterData.amount" placeholder="" onClick="this.select();" ng-disabled="cheque.amount > 0 || filterData.cashAmount != 0">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">支付數目:
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" data-ng-model="filterData.paid" placeholder="" onClick="this.select();" ng-disabled="filterData.cashAmount != 0">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">現金:
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" data-ng-model="filterData.cashAmount" placeholder="" onClick="this.select();" ng-disabled="filterData.paid != 0 || filterData.no != ''">

                            </div>
                        </div>



                    </div>





                    <div class="form-group">

                        <div class="col-md-12">
                            <div class="pull-right"> <button type="button" ng-click="autoPost();" id="submitbutton" class="btn blue">提交</button></div>
                        </div>
                    </div>


                </form>
            </div>




        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">取消</button>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
</div>