<div class="modal fade bs-modal-lg" id="shipDetails" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">船務資料</h4>
            </div>
            <div class="modal-body">
                <!-- h4>{{invoiceinfo.client.customerName_chi}} @ {{invoiceinfo.deliveryDate  * 1000 | date: 'yyyy.MM.dd'}}</h4> -->

                <div class="col-md-12">

                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-green-sharp">
                                <i class="icon-speech font-green-sharp"></i>
                                <span class="caption-subject bold uppercase">船務資料</span>
                                <span class="caption-helper"><span>
                                        </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>船務編號</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>{{shipping.shippingId}}</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>離港日期</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>{{shipping.departure_date| date: 'yyyy.MM.dd'}}</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>預算到貨日期</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>{{shipping.etaDate | date: 'yyyy.MM.dd'}}</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>實際到貨日期</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>{{shipping.actualDate | date: 'yyyy.MM.dd'}}</label>
                                                </div>
                                            </div>

                                            
                                            <div class="row">
                                                  <div class="col-md-2">
                                                    <label>船務備註</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>{{shipping.remark}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        </div>


                                        </div>

                                        <div class="col-md-12 ">
                                            <!-- BEGIN Portlet PORTLET-->
                                            <div class="portlet light bordered">
                                                <div class="portlet-title tabbable-line">
                                                    <div class="caption">
                                                        <i class="icon-pin font-yellow-lemon"></i>
                                                        <span class="caption-subject bold font-yellow-lemon uppercase">
                                                            其他資料 </span>
                                                        <span class="caption-helper"></span>
                                                    </div>
                                                    <ul class="nav nav-tabs">
                                                      <!--  <li>
                                                            <a data-target="#portlet_tab3" data-toggle="tab">
                                                                修改記錄</a>
                                                        </li>
                                                        <li>
                                                            <a data-target="#portlet_tab2" data-toggle="tab">
                                                                列印記錄 </a>
                                                        </li>-->
                                                        <li class="active">
                                                            <a data-target="#portlet_tab1" data-toggle="tab">
                                                                船運資料 </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="portlet_tab1">
                                                            <div>
                                                                <h4>船運資料</h4>
                                                                <table class="table table-bordered table-hover">
                                                                    <thead>
                                                                        <tr role="row" class="heading">
                                                                            <th width="3%">#</th>
                                                                            <th width="17%">貨櫃編號</th>
                                                                            <th width="20%">收貨日期</th>
                                                                            <th width="10%">貨櫃大小(cm)</th>
                                                                            <th width="10%">貨物數量</th>
                                                                            <th width="12%">貨物重量(kg)</th>
                                                                            <th width="12%">貨物體積(cbm)</th>
                                                                            <th width="16%">封條編號</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr data-ng-repeat="i in shippingItem" style="line-height:35px;font-size:15px;">
                                                                            <td>{{$index+1}}</td>
                                                                            <td>
                                                                                {{i.containerId}}
                                                                            </td>
                                                                            <td>
                                                                                {{i.receiveDate}} 
                                                                            </td>
                                                                            <td>
                                                                                {{i.container_size}}
                                                                            </td>
                                                                            <td>
                                                                                {{i.container_Num}}
                                                                            </td>
                                                                            <td>
                                                                                {{i.container_weight}}
                            
                                                                            </td>
                                                                            <td>
                                                                                {{i.container_capacity}}
                                                                            </td>
                                                                           <!-- <td ng-if="systeminfo.permission.view_product_cost == true"> 
                                                                                <span style="display:none;" id="cost_{{$index}}">${{invoiceinfo.products[i.productId].productCost_unit}}</span>
                                                                                <a href="#" ng-click="toggle($index)" id="controlcost_{{$index}}">[顯示]</a>
                                                                            </td>-->
                                                                           <td>
                                                                                {{i.serial_no}}
                                                                           </td>                                                
                                                                           
                                                                        </tr>
                                                                      
                                                                    </tbody>
                                                                </table>
                                                                <br/>
                                                                <div style="clear:both;"></div>
                                                            </div>
                                                        </div>         
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear:both;"></div>
                                        </div>
                                        <div class="modal-footer" >
                                            <button type="button" class="btn default" data-dismiss="modal">取消</button>

                                            <button type="button" class="btn green"  data-ng-click="goEdit(shipping.shippingId);">修改</button>

                                            <button type="button" class="btn red"  data-ng-click="voidShip(shipping.shippingId);">刪除</button>

                                        </div>
                                        </div>
                                        <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                        </div>