<div class="modal fade bs-modal-lg" id="poDetails" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">採購單資料</h4>
            </div>
            <div class="modal-body">
                <!-- h4>{{invoiceinfo.client.customerName_chi}} @ {{invoiceinfo.deliveryDate  * 1000 | date: 'yyyy.MM.dd'}}</h4> -->

                <div class="col-md-12">

                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-green-sharp">
                                <i class="icon-speech font-green-sharp"></i>
                                <span class="caption-subject bold uppercase">採購單資料</span>
                                <span class="caption-helper"><span>
                                        </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>採購單編號</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>{{invoiceinfo.poCode}}</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>採購日期</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>{{invoiceinfo.poDate| date: 'yyyy.MM.dd'}}</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>預算到貨日期</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>{{invoiceinfo.etaDate | date: 'yyyy.MM.dd'}}</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>實際到貨日期</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>{{invoiceinfo.actualDate | date: 'yyyy.MM.dd'}}</label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                 <div class="col-md-2">
                                                    <label>收貨日期</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>{{invoiceinfo.receiveDate}}</label>
                                                </div>
                                                  <div class="col-md-2">
                                                    <label>供應商 Ref.</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>{{invoiceinfo.poReference}}</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                  <div class="col-md-2">
                                                    <label>供應商備註</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>{{invoiceinfo.remark}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        </div>


                                        </div>

                                        <div class="col-md-12 ">
                                            <!-- BEGIN Portlet PORTLET-->
                                            <div class="portlet light bordered">
                                                <div class="portlet-title tabbable-line">
                                                    <div class="caption">
                                                        <i class="icon-pin font-yellow-lemon"></i>
                                                        <span class="caption-subject bold font-yellow-lemon uppercase">
                                                            其他資料 </span>
                                                        <span class="caption-helper"></span>
                                                    </div>
                                                    <ul class="nav nav-tabs">
                                                       <li>
                                                            <a data-target="#portlet_tab2" data-toggle="tab">
                                                                修改記錄</a>
                                                        </li>
                                                        <!--<li>
                                                            <a data-target="#portlet_tab2" data-toggle="tab">
                                                                列印記錄 </a>
                                                        </li>-->
                                                        <li class="active">
                                                            <a data-target="#portlet_tab1" data-toggle="tab">
                                                                下單貨品 </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="portlet_tab1">
                                                            <div>
                                                                <h4>下單貨品</h4>
                                                                <table class="table table-bordered table-hover">
                                                                    <thead>
                                                                        <tr role="row" class="heading">
                                                                            <th width="5%">#</th>
                                                                            <th width="10%">編號</th>
                                                                            <th width="15%">貨品名稱</th>
                                                                            <th width="5%">數量</th>
                                                                            <th width="5%">單位</th>
                                                                            <th width="7%">單價</th>
                                                                            <th width="12%">採購折扣(%OFF)</th>
                                                                            <th width="12%">現金折扣($)</th>
                                                                            <th width="10%">金額 </th>
                                                                         

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr data-ng-repeat="i in invoiceinfo.invoice_item" style="line-height:35px;font-size:15px;">
                                                                            <td>{{$index+1}}</td>
                                                                            <td>
                                                                                {{i.productId}}
                                                                            </td>
                                                                            <td>
                                                                                {{i.productName_chi}} - {{i.remark}}
                                                                            </td>
                                                                            <td>
                                                                                {{i.productQty}}
                                                                            </td>
                                                                            <td>
                                                                                <span>{{i.productUnitName}}</span>
                                                                            </td>
                                                                            <td>
                                                                                {{i.unitprice| number : 1}}
                            
                                                                            </td>
                                                                            <td>
                                                                                <ul style="margin-left: -13px;">
                                                                                <li>{{i.discount_1 |number : 2}} % </li>                            
                                                                                <li>{{i.discount_2 |number : 2}} % </li>                                       
                                                                                <li>{{i.discount_3 | number : 2}} %</li>
                                                                                </ul>
                                                                            </td>
                                                                           <!-- <td ng-if="systeminfo.permission.view_product_cost == true"> 
                                                                                <span style="display:none;" id="cost_{{$index}}">${{invoiceinfo.products[i.productId].productCost_unit}}</span>
                                                                                <a href="#" ng-click="toggle($index)" id="controlcost_{{$index}}">[顯示]</a>
                                                                            </td>-->
                                                                           <td>
                                                                               <ul style="margin-left: -13px;">
                                                                                <li>${{i.allowance_1 | number : 2}}</li>
                                      
                                                                                <li>${{i.allowance_2 | number : 2}}</li>
                      
                                                                                <li>${{i.allowance_3 | number : 2}}</li>
                                                                                </ul>
                                                                           </td>                                                
                                                                            <td>
                                                                                ${{(i.productQty * i.unitprice * (100 - i.discount_1)/100 * (100 -i.discount_2)/100 * (100-i.discount_3)/ 100) - i.allowance_1 - i.allowance_2 - i.allowance_3 | number:2 }}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="10"style="line-height:35px;font-size:15px;font-weight:bold;text-align:right;">總和: HK${{invoiceinfo.totalsAmount|number:2}}</td>
                   
                                                                        </tr>
                                                                        <tr ng-if="invoiceinfo.discount_1 != 0">
                                                                            <td colspan="10"style="line-height:35px;font-size:15px;font-weight:bold;text-align:right;">採購單折扣1 ({{invoiceinfo.discount_1}}%off): HK${{invoiceinfo.totalsAmount - (invoiceinfo.totalsAmount * (100 - invoiceinfo.discount_1) /100) | number:2}} </td>                                                                
                                                                        </tr>
                                                                         <tr ng-if="invoiceinfo.discount_2 != 0">
                                                                            <td colspan="10"style="line-height:35px;font-size:15px;font-weight:bold;text-align:right;">採購單折扣2 ({{invoiceinfo.discount_2}}%off): HK${{(invoiceinfo.totalsAmount * (100 - invoiceinfo.discount_1) /100) * (invoiceinfo.discount_2) / 100 | number:2}} </td>                                                                
                                                                        </tr>
                                                                         <tr ng-if="invoiceinfo.allowance_1 != 0">
                                                                            <td colspan="10"style="line-height:35px;font-size:15px;font-weight:bold;text-align:right;">現金折扣1 (${{invoiceinfo.allowance_1}}): HK${{invoiceinfo.allowance_1 | number:2}} </td>                                                                
                                                                        </tr>
                                                                        <tr ng-if="invoiceinfo.allowance_2 != 0">
                                                                            <td colspan="10"style="line-height:35px;font-size:15px;font-weight:bold;text-align:right;">現金折扣2 (${{invoiceinfo.allowance_2}}) : ${{invoiceinfo.allowance_2 | number:2}} </td>                                                                
                                                                        </tr>
                                                                         <tr>
                                                                            <td colspan="10"style="line-height:35px;font-size:15px;font-weight:bold;text-align:right;">應交款項: HK${{(invoiceinfo.totalsAmount * (100 - invoiceinfo.discount_2)/100 *  (100 - invoiceinfo.discount_1)/100) - invoiceinfo.allowance_1 - invoiceinfo.allowance_2 | number:2}} </td>                                                                
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <br/>
                                                                <div style="clear:both;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="portlet_tab2">
                                                            <div>
                                                                <h4>修改記錄</h4>
                                                                <table class="table table-bordered table-hover">
                                                                    <thead>
                                                                        <tr role="row" class="heading">
                                                                            <th width="10%">#</th>
                                                                            <th width="20%">採購單編號</th>
                                                                            <th width="20%">修改人</th>
                                                                            <th width="20%">修改時間</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr data-ng-if="poaduit == ''"><td colspan="4">沒有修改記錄</td></tr>
                                                                        <tr data-ng-repeat="i in poaduit" style="line-height:35px;font-size:15px;">
                                                                            <td>{{$index+1}}</td>
                                                                            <td>
                                                                                {{i.referenceKey}}
                                                                            </td>
                                                                            <td>
                                                                                {{i.username}}
                                                                            </td>
                                                                            <td>
                                                                                {{i.created_at}}
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <br/>
                                                                <div style="clear:both;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear:both;"></div>
                                        </div>
                                        <div class="modal-footer" >
                                            <button type="button" class="btn default" data-dismiss="modal">取消</button>

  
                                            <button type="button" class="btn green"  data-ng-click="goEdit(invoiceinfo.poCode);">修改</button>
                                            <!-- <button type="button" class="btn green" data-ng-if="invoiceinfo.invoiceStatus > 3 && systemInfo.permission.edit_invoice_any_status" data-ng-click="goEdit(invoiceinfo.invoiceId);">修改</button>-->

                                            <!-- Void Invoice -->
                                            <!-- Condition: Invoice Status = {1, 2, 3} && Permission = void_invoice-->
                                            <button type="button" class="btn red" data-ng-if="systemInfo.permission.void_invoice" data-ng-click="voidPo(invoiceinfo.poCode);">刪除</button>


                               
                                            <button type="button" class="btn grey-cascade" data-ng-click="genA4Invoice(invoiceinfo.poCode,'eng');">英文版單據</button>
                                            <button type="button" class="btn grey-cascade" data-ng-if = "invoiceinfo.location == 1" data-ng-click="genA4Invoice(invoiceinfo.poCode,'chi');">中文版單據</button>

                                        </div>
                                        </div>
                                        <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                        </div>