<div class="modal fade bs-modal-lg " id="productFormModal" data-ng-init="" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>

                <h4 class="modal-title">產品管理 - (最後修改日期:{{info.updated_at}} 修改人:{{info.updated_by}})</h4>
            </div>

			<div class="modal-body">
				<form action="javascript:;" class="form-horizontal">
					<div class="form-body">


                        <div class="form-group">
                            <label class="col-md-2 control-label">貨品類別  *</label>
                            <div class="col-md-10">
                                <select class="form-control"
                                        ng-model="info.group"
                                        data-ng-change="getGroupPrefix()"
                                        data-ng-options="x.groupname for x in systeminfo.productgroup track by x.groupid"
                                        >
                                </select>
                            </div>
                        </div>

                        <div class="form-group"  data-ng-if="info.productId == ''">
                            <label class="col-md-2 control-label">Group Prefix  *</label>
                            <div class="col-md-1" data-ng-repeat="(k,i) in prefix" data-class="pull-left" >
                              <div class="control-label"><label><input ng-model="info.groupPrefix" ng-change="getNewId()" type="radio" name="groupPrefix" id="groupPrefix" value="{{i.prefix}}" > {{i.prefix}}</label></div>
                            </div>
                        </div>

                        <div class="form-group" data-ng-if="info.productId == ''">
                            <label class="col-md-2 control-label">產品編號*</label>
                            <div class="col-md-2">
                                <input type="text" ng-model="info.productnewId" class="form-control" placeholder="Enter text" ng-change="checkIdexist()">
                            </div>
                            <div class="col-md-3">
                                <label class="control-label" data-ng-if="productIdused == true"><span style="color: red">產品編號已被使用</span></label>
                            </div>
                        </div>

						<div class="form-group">
							<label class="col-md-2 control-label">名稱 (中) *</label>
							<div class="col-md-10">
								<input type="text" ng-model="info.productName_chi" class="form-control" placeholder="Enter text">
							</div>
						</div>
						

						
						<div class="form-group">
							<label class="col-md-2 control-label">貨品位置 * (1/9)</label>
							<div class="col-md-10">
								
								<select class="form-control" 
										id="info.productLocation" 
										ng-model="info.productLocation" 
										data-ng-options="x.label for x in floorcat track by x.value" >
									
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label">狀態*</label>
							<div class="col-md-10">
								
								<select class="form-control" 
										id="info.productStatus" 
										ng-model="info.productStatus" 
										data-ng-options="x.label for x in status track by x.value" >
									
								</select>
							</div>
						</div>

						
						<div class="form-group">
							<label class="col-md-2 control-label">包裝 *</label>
							<div class="col-md-10">
								<input type="text" ng-model="info.productPacking_size" class="form-control" placeholder="Enter text">
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label">成本</label>
							<div class="col-md-10">
								<input type="text" ng-model="info.productCost_unit" class="form-control" placeholder="Enter text">
							</div>
						</div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">佣金</label>
                            <div class="col-md-10">
                                <div class="pull-left control-label">
                               <input type="checkbox" ng-model="hasCommission" ng-true-value="yes" ng-false-value="no" ng-checked="hasCommission==1" ng-change="selectCom(hasCommission);">
                            </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">允許負價格</label>
                            <div class="col-md-10">
                                <div class="pull-left control-label">
                                    <input type="checkbox" ng-model="allowNegativePrice" ng-true-value="yes" ng-false-value="no" ng-checked="allowNegativePrice==1" ng-change="selectNeg(allowNegativePrice);">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">分開(備貨單)</label>
                            <div class="col-md-10">
                                <div class="pull-left control-label">
                                    <input type="checkbox" ng-model="allowSeparate" ng-true-value="yes" ng-false-value="no" ng-checked="allowSeparate==1" ng-change="selectSep(allowSeparate);">
                                </div>
                            </div>
                        </div>

						<br/>
						<h4>包裝及售價 (數量相隔輸入0為停用)</h4>
						<table style="border:0px;width:100%;" cellpadding="6">
							<tr>
								<td style="width:25%;">&nbsp;</td>
								<td style="width:25%;"><label>Carton</label></td>
								<td style="width:25%;"><label>Inner</label></td>
								<td style="width:25%;"><label>Unit</label></td>
							</tr>
							<!-- Packing -->
							<tr>
								<td><label>包裝</label></td>
								<td><input disabled type="text" ng-model="info.productPacking_carton" class="form-control" style="width:80%;" placeholder="" select-on-click> </td>
								<td><input disabled type="text" ng-model="info.productPacking_inner" class="form-control" style="width:80%;" placeholder="" select-on-click></td>
								<td><input disabled type="text" ng-model="info.productPacking_unit" class="form-control" style="width:80%;" placeholder="" select-on-click></td>
							</tr>
							<!-- Packing Name -->
							<tr>
								<td><label>單位</label></td>
								<td><input disabled type="text" ng-model="info.productPackingName_carton" class="form-control" style="width:80%;" placeholder=""> </td>
								<td><input disabled type="text" ng-model="info.productPackingName_inner" class="form-control" style="width:80%;" placeholder=""></td>
								<td><input disabled type="text" ng-model="info.productPackingName_unit" class="form-control" style="width:80%;" placeholder=""></td>
							</tr>
							<!-- Interval -->
							<tr>
								<td><label>數量相隔</label></td>
								<td><input type="text" ng-model="info.productPackingInterval_carton" class="form-control" style="width:80%;" placeholder=""> </td>
								<td><input type="text" ng-model="info.productPackingInterval_inner" class="form-control" style="width:80%;" placeholder=""></td>
								<td><input type="text" ng-model="info.productPackingInterval_unit" class="form-control" style="width:80%;" placeholder=""></td>
							</tr>
							<!-- Standard Price -->
							<tr>
								<td><label>最低售價</label></td>
								<td><input type="text" ng-model="info.productStdPrice_carton" class="form-control" style="width:80%;" placeholder="" select-on-click> </td>
								<td><input type="text" ng-model="info.productStdPrice_inner" class="form-control" style="width:80%;" placeholder="" select-on-click></td>
								<td><input type="text" ng-model="info.productStdPrice_unit" class="form-control" style="width:80%;" placeholder="" select-on-click></td>
							</tr>
							
							<!-- Min Price -->
							<!--<tr>
								<td><label>最低售價</label></td>
								<td><input type="text" ng-model="info.productMinPrice_carton" class="form-control" style="width:80%;" placeholder=""> </td>
								<td><input type="text" ng-model="info.productMinPrice_inner" class="form-control" style="width:80%;" placeholder=""></td>
								<td><input type="text" ng-model="info.productMinPrice_unit" class="form-control" style="width:80%;" placeholder=""></td>
							</tr>-->
						</table>
						
						
					</div>
				</form>
				
			</div>
			<div class="modal-footer">
					<h2>{{newId}}</h2>
					<button type="button" class="btn blue" data-ng-if="submitbtn == true" data-ng-click="submitProductForm();">提交</button>
					<button type="button" class="btn default" data-ng-if="submitbtn == true" data-dismiss="modal">取消</button>
				</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>