<div class="row" ng-init="">
    <div class="col-md-12">
        <form class="form-horizontal form-row-seperated" action="javascript:;" id="printArea">


            <div class="portlet light">



                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">訂單列印 (Push-to-Print)</span>
                    </div>

                   <!-- <div class="actions">
                        <div class="btn-group">
                            <select class="form-control"
                                    ng-model="group"
                                    data-ng-options="x.name for x in systeminfo.customerGroup track by x.id"
                                    data-ng-change="updateGroup();">
                                <option value=''>檢視全部</option>
                            </select>
                        </div>
                    </div>-->

                    <div class="actions">
                            <div class="btn-group">
                                <select class="form-control"
                                        ng-model="zone"
                                        data-ng-options="x.zoneName for x in systeminfo.availableZone track by x.zoneId"
                                        data-ng-change="updateZone();">
                                    <option value=''>檢視全部</option>
                                </select>
                            </div>
                     </div>


                    <div class="actions">

                        <div class="btn-group">
                            <select class="form-control"
                                    ng-model="shift"
                                    data-ng-change="updateShift();">
                                <option value='1'>早班</option>
                                <option value='2'>晚班</option>
                            </select>
                        </div>
                    </div>

                    <div class="actions">
                        <div class="btn-group">
                            <a href="javascript:;" class="btn btn-circle red-sunglo btn-sm" data-ng-click="printToday();">
                                <i class="fa fa-print"></i> 列印當天訂單 </a>&nbsp;
                        </div>
                    </div>

                  <!--  <div class="actions">
                        <div class="btn-group">
                            <a href="javascript:;" class="btn btn-circle red-sunglo btn-sm" data-ng-click="pushPrintQueue();">
                                <i class="fa fa-print"></i> 列印全部 </a>&nbsp;
                        </div>
                    </div>-->

                    <div class="actions">
                        <div class="btn-group">
                            <a href="javascript:;" class="btn btn-circle red-sunglo btn-sm" data-ng-click="printSelect();">
                                <i class="fa fa-print"></i> 列印已選取 </a>&nbsp;
                        </div>
                    </div>

                    <div class="actions">
                        <div class="btn-group">
                            <a href="javascript:;" class="btn btn-circle red-sunglo btn-sm" data-ng-click="generalOtherInvoices();">
                                <i class="fa fa-print"></i> 列印補/換/退貨單 </a>&nbsp;
                        </div>
                    </div>
                   <!-- <div class="actions" data-ng-if="systemInfo.permission.staff_maintenance == true">
                        <div class="btn-group">
                            <a href="javascript:;" class="btn btn-circle red-sunglo btn-sm" data-ng-click="printGroup();">
                                <i class="fa fa-print"></i> 列印已選集團 </a>&nbsp;
                        </div>
                    </div>-->

                </div>


                <div class="portlet-body" >
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-target="#tab_general" data-toggle="tab">
                                    等待列印(正常單) </a>
                            </li>

                            <li>
                                <a data-target="#tab_job9698" data-toggle="tab">
                                    等待列印(補/換/退單) </a>
                            </li>

                            <!--<li>
                                <a data-target="#tab_loginrecord" data-toggle="tab">
                                    已列印 </a>
                            </li>-->
                        </ul>
                        <div class="tab-content no-space">
                            <div class="tab-pane active" id="tab_general">
                                <div class="row">
                                    <div id="tab_images_uploader_filelist" class="col-md-6 col-sm-12">
                                    </div>
                                </div>
                                <table class="table table-bordered table-hover" style="font-size:15px;">
                                    <thead>
                                    <tr role="row" class="heading">
                                        <th width="5%">#</th>
                                        <th width="10%">訂單編號</th>
                                        <th width="15%">客戶名稱</th>
                                        <th width="5%">車號</th>
                                        <th width="5%">車線</th>
                                        <th width="15%">建立時間</th>
                                        <th width="10%">送貨日期</th>

                                        <th width="10%">用戶</th>
                                        <th width="20%">現時狀態</th>
                                        <th width="5%">選取</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="(k,q) in queue">
                                        <td>{{q.job_id}}</td>
                                        <td>{{q.invoiceId}}</td>
                                        <td>{{q.customerName_chi}}</td>
                                        <td>{{q.zoneId}}</td>
                                        <td>{{q.routePlanningPriority}}</td>
                                        <td>{{q.updated_at}}</td>
                                        <td>{{q.deliveryDate * 1000 | date: 'yyyy.MM.dd'}}</td>
                                        <td>{{q.name}}</td>

                                        <td>
                                                        <span data-ng-if="q.status == 'downloaded;passive'">
                                                            已下載至列印伺服器
                                                        </span>
                                                        <span data-ng-if="q.status == 'dead:regenerated'">
                                                            被取代
                                                        </span>
                                                        <span data-ng-if="q.status == 'dead:pending'">
                                                            等待批刻(不會列印)
                                                        </span>
                                                        <span data-ng-if="q.status == 'queued'">
                                                            等待下載
                                                        </span>
                                        </td>
                                        <td><input type="checkbox" data-ng-model="checkid[q.job_id]['collect']" data-ng-if="q.invoiceStatus != '1' "  /></td>
                                    <tr>

                                    </tbody>
                                </table>
                            </div>



                            <div class="tab-pane" id="tab_job9698">
                                <div class="row">
                                    <div id="tab_images_uploader_filelist2" class="col-md-6 col-sm-12">
                                    </div>
                                </div>
                                <table class="table table-bordered table-hover" style="font-size:15px;">
                                    <thead>
                                    <tr role="row" class="heading">
                                        <th width="5%">#</th>
                                        <th width="10%">訂單編號</th>
                                        <th width="15%">客戶名稱</th>
                                        <th width="5%">車號</th>
                                        <th width="5%">車線</th>
                                        <th width="15%">建立時間</th>
                                        <th width="10%">送貨日期</th>

                                        <th width="10%">用戶</th>
                                        <th width="20%">現時狀態</th>
                                        <th width="5%">選取</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="(k,q) in job9698">
                                        <td>{{q.job_id}}</td>
                                        <td>{{q.invoiceId}}</td>
                                        <td>{{q.customerName_chi}}</td>
                                        <td>{{q.zoneId}}</td>
                                        <td>{{q.routePlanningPriority}}</td>
                                        <td>{{q.updated_at}}</td>
                                        <td>{{q.deliveryDate * 1000 | date: 'yyyy.MM.dd'}}</td>
                                        <td>{{q.name}}</td>
                                        <td>
                                                        <span data-ng-if="q.status == 'downloaded;passive'">
                                                            已下載至列印伺服器
                                                        </span>
                                                        <span data-ng-if="q.status == 'dead:regenerated'">
                                                            被取代
                                                        </span>
                                                        <span data-ng-if="q.status == 'dead:pending'">
                                                            等待批刻(不會列印)
                                                        </span>
                                                        <span data-ng-if="q.status == 'queued'">
                                                            等待下載
                                                        </span>
                                        </td>
                                        <td><input type="checkbox" data-ng-model="checkid[q.job_id]['collect']" /></td>
                                    <tr>

                                    </tbody>
                                </table>
                            </div>


                            <!--<div class="tab-pane" id="tab_loginrecord">
                                <div class="row">
                                    <div id="tab_images_uploader_filelist1" class="col-md-6 col-sm-12">
                                    </div>
                                </div>
                                <table class="table table-bordered table-hover" style="font-size:15px;">
                                    <thead>
                                    <tr role="row" class="heading">
                                        <th width="5%">#</th>
                                        <th width="10%">訂單編號</th>
                                        <th width="15%">客戶名稱</th>
                                        <th width="5%">車號</th>
                                        <th width="5%">車線</th>
                                        <th width="15%">列印時間</th>
                                        <th width="10%">送貨日期</th>

                                        <th width="10%">用戶</th>
                                        <th width="20%">現時狀態</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="q in printed">
                                        <td>{{q.job_id}}</td>
                                        <td>{{q.invoiceId}}</td>
                                        <td>{{q.customerName_chi}}</td>
                                        <td>{{q.zoneId}}</td>
                                        <td>{{q.routePlanningPriority}}</td>
                                        <td>{{q.updated_at}}</td>
                                        <td>{{q.deliveryDate * 1000 | date: 'yyyy.MM.dd'}}</td>
                                        <td>{{q.name}}</td>
                                        <td>
                                                        <span data-ng-if="q.status == 'downloaded;passive'">
                                                            已下載至列印伺服器
                                                        </span>
                                                        <span data-ng-if="q.status == 'dead:regenerated'">
                                                            被取代
                                                        </span>
                                                        <span data-ng-if="q.status == 'dead:pending'">
                                                            等待批刻(不會列印)
                                                        </span>
                                                        <span data-ng-if="q.status == 'queued'">
                                                            等待下載
                                                        </span>
                                        </td>
                                    <tr>

                                    </tbody>
                                </table>
                            </div>-->


                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
