<form class="form-horizontal" role="form" id="queryInfo" ng-init="updatePrintQueue();">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs font-green-sharp"></i>
							<span class="caption-subject font-green-sharp bold uppercase">訂單列印 (Push-to-Print)</span>
						</div>
						<div class="actions">
							<div class="btn-group">
							<a href="javascript:;" class="btn btn-circle red-sunglo btn-sm" data-ng-click="pushPrintQueue();">
							<i class="fa fa-print"></i> 全部立即列印 </a>
						</div>
					</div>
					<div class="portlet-body">
						<form role="form">
							<div class="row">
								<div class="col-md-12">
									<table class="table table-bordered table-hover" style="font-size:15px;">
									    <thead>
									        <tr role="row" class="heading">
									            <th width="5%">列印編號</th>
									            <th width="10%">訂單編號</th>
									            <th width="5%">車號</th>
                                                <th width="5%">車線</th>
									            <th width="15%">建立時間</th>
                                                <th width="10%">送貨日期</th>
									            <th width="15%">最遲列印時間</th>
									            <th width="10%">用戶</th>
									            <th width="20%">現時狀態</th>
									        </tr>
									    </thead>
									    <tbody>									            
								            <tr data-ng-repeat="q in queue">
								                <td>{{q.job_id}}</td>
								                <td>{{q.invoiceId}}</td>
								                <td>{{q.target_path}}</td>
                                                <td>{{q.routePlanningPriority}}</td>
								                <td>{{q.insert_time  * 1000 | date: 'yyyy.MM.dd hh:mm:ss a'}}</td>
                                                <td>{{q.deliveryDate * 1000 | date: 'yyyy.MM.dd'}}</td>
                       							<td>{{q.target_time  * 1000 | date: 'yyyy.MM.dd hh:mm:ss a'}}</td>
								                <td>{{q.staff.username}}</td>
								                <td>
								                	<span data-ng-if="q.status == 'downloaded;passive'">
								                		已下載至列印伺服器
								                	</span>
								                	<span data-ng-if="q.status == 'dead:regenerate'">
								                		被取代
								                	</span>
								                	<span data-ng-if="q.status == 'queued'">
								                		等待下載
								                	</span>
                                                     <span data-ng-if="q.status == 'fast-track'">
								                		已列印
								                	</span>
												</td>
								            <tr>
								             
									    </tbody>
									</table>
								</div>
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>
		
	</form>
	
</div>

<!-- Customer Maintenance Form -->
<div ng-include="'/views/ipfForm.html'"></div>