<form class="form-horizontal" role="form" id="queryInfo" data-ng-init="updateDataSet();">

    <div class="col-md-2">

        <!-- Search Product -->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">搜索產品</span>
                </div>

            </div>
            <div class="form-group ">
                <div class="col-md-12 alert alert-success alert-borderless">
                    <div class="input-icon right">
                        <i class="icon-exclamation-sign"></i>
                        <input autocomplete="off" ng-model="filterData.product" debounce="500" immediate="true"  id="keywordId"
                               type="text" placeholder="編號" class="form-control"  ng-change="updateDataSet()"
                                />
                    </div>

                    <div class="input-icon right">
                        <i class="icon-exclamation-sign"></i>
                        <input autocomplete="off" ng-model="filterData.product_name" debounce="500" immediate="true"  id="keywordId"
                               type="text" placeholder="名稱" class="form-control"  ng-change="updateDataSet()"
                                />
                    </div>

                </div>

            </div>
        </div>

        <!-- Separate Client -->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">搜索客戶</span>
                </div>

            </div>
            <div class="form-group ">
                <div class="col-md-12 alert alert-success alert-borderless">
                    <div class="input-icon right">
                        <i class="icon-exclamation-sign"></i>
                        <input autocomplete="off" ng-model="filterData.customerId" debounce="500" immediate="true"  id="keywordId"
                               type="text" placeholder="客戶編號" class="form-control" ng-change="updateDataSet()"
                                />
                    </div>


                    <div class="input-icon right">
                        <i class="icon-exclamation-sign"></i>
                        <input autocomplete="off" ng-model="filterData.name" debounce="500" immediate="true"  id="name"
                               type="text" placeholder="名稱" class="form-control"  ng-change="updateDataSet()"
                                />
                    </div>


                    <div class="input-icon right">
                        <i class="icon-exclamation-sign"></i>
                        <input autocomplete="off" ng-model="filterData.phone" debounce="500" immediate="true"  id="phone"
                               type="text" placeholder="電話號碼 " class="form-control" ng-change="updateDataSet()"
                                />
                    </div>
                </div>

                </div>

        </div>

        <!--pick Date range-->
        <div class="portlet light">
            <div class="portlet-body">
                <div class="md-col-12" style="margin-bottom:15px;">
                    <div class="input-group  date " id="deliveryDate" data-date-format="yyyy-mm-dd" data-date-start-date="">
                        <input type="text" class="form-control" readonly ng-model="filterData.deliveryDate">
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                    </div>
                    至
                    <div class="input-group  date " id="deliveryDate1" data-date-format="yyyy-mm-dd" data-date-start-date="">
                        <input type="text" class="form-control" readonly ng-model="filterData.deliveryDate1">
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                    </div>

                </div>
            </div>
		</div>
		<!-- Zone -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-cogs font-green-sharp"></i>
					<span class="caption-subject font-green-sharp bold uppercase">車號</span>
				</div>
			</div>

			<div class="portlet-body">				
				<div class="md-col-12" style="margin-bottom:15px;">
					<select class="form-control" 
						ng-model="filterData.zone" 
						data-ng-options="x.zoneName for x in systeminfo.availableZone track by x.zoneId" 
						>
						<option value=''>檢視全部</option>
					</select>
				</div>
			</div>

            <div class="portlet-body" id="shift">
                <div class="md-col-12">
                    <select class="form-control"
                            ng-model="filterData.shift">
                        <option value='-1'>全部</option>
                        <option value='1'>早班</option>
                        <option value='2'>晚班</option>
                    </select>
                </div>
            </div>

		</div>			
		
	</div>

	<div class="col-md-10">
		<div class="row">
			<div class="col-md-12">
				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs font-green-sharp"></i>
							<span class="caption-subject font-green-sharp bold uppercase">搜索結果</span>
						</div>
						
					</div>
					<div class="portlet-body">
						<table class="table table-striped table-bordered table-hover" id="datatable_ajax">
						<thead>
							<tr role="row" class="heading">
								<th >
									訂單編號 
								</th>
								<th>
									送貨日期
								</th>
								<th>
									車線
								</th>
                                <th >
                                    客戶名稱
                                </th>
								<th>
									產品編號
								</th>
								<th>
                                    名稱
								</th>

								<th>
									價錢
								</th>

								<th>
									數量
								</th>
                                <th>
                                    單位
                                </th>

							</tr>
							
						</thead>
						<tbody>
						</tbody>
					</table>						
					</div>
				</div>
				<!-- END EXAMPLE TABLE PORTLET-->
			</div>
		</div>
    </div>
</form>
<!-- Select Client Modal -->
<div ng-include="'/views/model_selectclient.html'"></div>
<!-- Display Items Modal -->
<div data-ng-include="'views/model_viewinvoice.html'"> </div>
<!-- Unload Invoice Modal -->
<div data-ng-include="'views/model_unloadinvoice.html'">  </div>