<script>
    var limit = 2; // <---max no of lines you want in textarea
    var textarea = document.getElementById("remark");
    var spaces = textarea.getAttribute("cols");

    textarea.onkeyup = function() {
    var lines = textarea.value.split("\n");

    for (var i = 0; i < lines.length; i++)
    {
    if (lines[i].length <= spaces) continue;
    var j = 0;

    var space = spaces;

    while (j++ <= spaces)
    {
    if (lines[i].charAt(j) === " ") space = j;
    }
    lines[i + 1] = lines[i].substring(space + 1) + (lines[i + 1] || "");
    lines[i] = lines[i].substring(0, space);
    }
    if(lines.length>limit)
    {
    textarea.style.color = 'red';
    setTimeout(function(){
    textarea.style.color = '';
    },500);
    }
    textarea.value = lines.slice(0, limit).join("\n");
    };
</script>

<div id="order_form">
    <form class="form-horizontal" role="form" id="orderinfo">
        <div class="row">
            <div class="col-md-12">

            <!-- <div  class="Metronic-alerts alert alert-danger fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><span style="font-size:16px;"> 發票編號:{{poCode}} <a href="/#/PoMain?poCode={{poCode}}">按此</a>修改
                </span></div>-->
                <div class="portlet light bordered">


                    <div class="portlet-title">
                        <div class="caption font-green-sharp">
                            <i class="icon-speech font-green-sharp"></i> <span
                                class="caption-subject bold uppercase">收貨資料</span> <span
                                class="caption-helper"></span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" style="text-align:left;">
                                            收貨編號
                                        </label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" ng-model="orders.receivingId" placeholder="自動填上" disabled required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" style="text-align:left;">
                                            採購單編號
                                        </label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" ng-model="orders.poCode" placeholder="" disabled required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" style="text-align:left;">
                                            供應商名稱
                                        </label>
                                         <div class="col-md-7">
                                            <input type="text" ng-model="orders.supplierName" class="form-control" placeholder="" disabled="true">
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" style="text-align:left;">
                                        國家
                                        </label>
                                        <div class="col-md-7">
                                            <select class="form-control" id="countries" ng-model="countryDatas"
                                            data-ng-options="c.countryName for c in countryDataList track by c.countryId" 
                                            disabled="true">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row" >
                                  <div class="col-md-3" id="shipCode">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" style="text-align:left;">
                                            船務編號
                                        </label>
                                         <div class="col-md-7">
                                            <input type="text" ng-model="orders.shippingId" class="form-control" placeholder="" disabled="true">
                                        </div>
                                    </div>
                                </div>
                                
                                 <div class="col-md-3" id="containerCode">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" style="text-align:left;">
                                            貨櫃編號
                                        </label>
                                         <div class="col-md-7">
                                            <input type="text" ng-model="orders.containerId" class="form-control" placeholder="" disabled="true">
                                        </div>
                                    </div>
                                </div>
                                
                                      <div class="col-md-3" >
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" style="text-align:left;">
                                            收貨日期
                                        </label>
                                        <div class="col-md-7">
                                           <div class="input-group date " id="deliverydate" data-date-format="yyyy-mm-dd" data-date-start-date="">
                                                <input type="text" class="form-control ng-pristine ng-valid" readonly="" ng-model="orders.receiveDate" >
						<span class="input-group-btn">
							<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
						</span>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                                     <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" style="text-align:left;">
                                            狀態
                                        </label>
                                        <div class="col-md-6">
                                            <select class="form-control" ng-model="orders.poStatus" ng-change="statusChange();" id="statusField">
                                                <option value="1" selected>1. 正常</option>
                                                <option value="20" selected>2. 已收貨</option>
                                                <option value="30" selected>3. 已付款</option>
                                                <option value="99" selected>4. 已刪除</option>
                                                <!--<option data-ng-if="systemInfo.permission.customer_maintenance == true" value="98">2. 退貨單</option>
                                                <option data-ng-if="systemInfo.permission.customer_maintenance == true" value="96">3. 補貨單</option>-->
                                            </select>
                                        </div>
                                    </div>
                           
                                
                               
                            </div>

                            <div class="row">
                                
                                 
                                </div>
                                
                               
                                
                            </div>
                            
                            <div class = "row">
                                 <div class="col-md-3" id="feight_cost">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" style="text-align:left;">
                                            海外運費
                                        </label>
                                        <div class="col-md-7">
                                            <input type="text" ng-model="orders.feight_cost" class="form-control" placeholder="" ng-change="updateCost();updateTotal();">
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" style="text-align:left;">
                                            供應商貨幣
                                        </label>
                                        <div class="col-md-6">              
                                                <select class="form-control" id="currencies" ng-model="currencyDatas"
                                                    ng-options="(c.currencyId + ' - ' + c.currencyName) for c in allCurrencyList track by c.currencyId" disabled="true">
                                                </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-3" id="exchangeRate">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" style="text-align:left;">
                                            匯率
                                        </label>
                                        <div class="col-md-7">
                                            <input type="text" ng-model="orders.exchangeRate" class="form-control" placeholder="" ng-change="updateCost();updateTotal();">
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-3" id="local_cost">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" style="text-align:left;">
                                            轉換成本地運費
                                        </label>
                                        <div class="col-md-7">
                                            <input type="text" ng-model="orders.feight_local_cost" class="form-control" placeholder="" disabled="true" ng-change="updateTotal();">
                                        </div>                 
                                    </div>
                                </div>
                                
                                <div class="col-md-3" id="misc_cost">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" style="text-align:left;">
                                            本地雜費
                                        </label>
                                        <div class="col-md-7">
                                            <input type="text" ng-model="orders.hk_local_cost" class="form-control" placeholder="" ng-change="updateTotal()">
                                        </div>
                                    </div>
                                </div>
                                
                                  <div class="col-md-3" id="misc_cost">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" style="text-align:left;">
                                            雜費
                                        </label>
                                        <div class="col-md-7">
                                            <input type="text" ng-model="orders.local_cost" class="form-control" placeholder="" ng-change="updateTotal()">
                                        </div>
                                    </div>
                                </div>
                                
                            
                                
                                 <div class="col-md-3" id="total_cost">
                                    <div class="form-group">
                                        <label class="col-md-5 control-label" style="text-align:left;">
                                            總額
                                        </label>
                                        <div class="col-md-7">
                                            <input type="text" ng-model="orders.total_cost" class="form-control" placeholder="" disabled="true">
                                        </div>
                                    </div>
                                </div>
                                </div>
                            
                           <div class="row">
                               
                                
                               
                                  <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label" style="text-align:left;">
                                             收貨備註
                                        </label>
                                        <div class="col-md-11">
                                            <textarea class="form-control" placeholder="" id="remark" cols="50"  ng-model="orders.conRemark"></textarea>
                                        </div>
                                    </div>
                                </div>
                               
                           </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">

                    <div class="portlet-title">

                        <div class="caption font-green-sharp">
                            <i class="icon-speech font-green-sharp"></i> <span
                                class="caption-subject bold uppercase">收到貨物</span> <label data-ng-if="displayName != ''" style="color: #ff0000">[{{displayName}}]</label>
                                <span class="caption-helper"></span>
                        </div>

                        <div class="actions">
                           <!-- <a href="#" ng-click="showRecentPurchases();" class="btn btn-lg btn-circle btn-default"><i class="fa fa-question"> </i><span class="hidden-480"> 最近下單貨品 </span></a>-->
                            <a href="#" ng-click="addRows();" class="btn btn-lg btn-circle btn-default"><i class="fa fa-plus"> </i><span class="hidden-480"> 增加項數 </span></a>
                            <a href="#" id="productsFullScreen" class="btn btn-circle btn-default btn-icon-only fullscreen"></a>
                        </div>

                    </div>

                    <div class="portlet-body" id="orderportletbody">
                     
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr role="row" class="heading">
                                    <th width="3%">貨品</th>
                                    <th width="7%">編號</th>
                                    <th width="7%">貨品名稱</th>
                                    <th width="7%">數量</th>
                                    <th width="7%">單位</th>
                                    <th width="7%">收到數量</th>
                                    <th width="7%">好貨</th>
                                    <th width="7%">壞貨</th>
                                    <th width="7%">保留貨</th>
                                    <th width="10%">過期日</th>
                                    <th width="7%">擺放位置</th>
                                    <th width="5%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="i in itemlist" data-ng-if="product[i]['deleted'] == 0">
                                    <td style="line-height:35px;font-size:15px;">{{i}}</td>
                                    <td>
                                        <div class="input-group">                         
                                            <input id="productId{{i}}" onClick="this.select();"  name="productId_{{i}}" class="form-control productIdField"  ng-model="product[i]['productId']" type="text" placeholder="" ng-change="checkProduct(i,product[i]['productId'])"/>
                                            <span class="input-group-btn">
                                            </span>
                                        </div>
                                         <span id="warning{{i}}" style="color:red;" class="warning"></span>
                                    </td>
                                    <td style="line-height:35px;font-size:15px;">
                                        {{product[i]['productName']}}
                                    </td>
                                    <td>
                                        <label>
                                            <div id="spinner_{{i}}">
                                                <div class="input-group" style="width:100px;">
                                                     <input type="tel"  id="qty_{{i}}" class="spinner-input form-control" maxlength="5"
                                                     ng-model="product[i]['qty']" ng-change="updateQty(i,'qty');"
                                                     ng-blur="">

                                                </div>
                                            </div>
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            {{$scope.items[i].productUnitName}}
                                             <select class="form-control"
                                                    id="unit_{{i}}"
                                                    ng-model="product[i]['unit']"
                                                    data-ng-options="x.label for x in product[i].availableunit track by x.value">
                                            </select>
                                        </label>
                                    </td>
                                    <td>
                                        <div class="">
                                            <div class="input-icon right" id="unitpricediv_{{i}}">
                                                <input type="tel" onClick="this.select();"  id="unitprice_{{i}}" ng-model="product[i]['receive_qty']" data-ng-change="" class="form-control" name="product[i]['unitprice']" value="{{product[i]['unitprice']}}" maxlength="6" >
                                            </div>
                                        </div>
                                    </td>
                                     <td>
                                        <div class="">
                                            <div class="input-icon right" id="unitpricediv_{{i}}">
                                                <input type="tel" onClick="this.select();"  id="unitprice_{{i}}" ng-model="product[i]['good_qty']" data-ng-change="" class="form-control" name="product[i]['unitprice']" value="{{product[i]['unitprice']}}" maxlength="6" >
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class=" ">
                                            <div class="input-group">
                                                <input onClick="this.select();" type="tel" id="discount_{{i}}" ng-model="product[i]['damage_qty']" ng-change="updateQty(i,'discount_1')" value="{{product[i]['discount_1']}}" data-ng-change="" class="form-control" name="product[i]['discount']" maxlength="6">
                                         
                                            </div>
                                        </div>
                                    </td>
                                     <td>
                                        <div class=" ">
                                            <div class="input-group">
                                                <input onClick="this.select();" type="tel" id="on_hold_qty{{i}}" ng-model="product[i]['on_hold_qty']" ng-change="updateQty(i,'on_hold_qty')" value="{{product[i]['on_hold_qty']}}" data-ng-change="" class="form-control" name="product[i]['on_hold_qty']" maxlength="6">
                                            </div>
                                        </div>
                                    </td>
                                    <td style="line-height:35px;font-size:15px;">
                                        <div class="input-group date " id="deliverydate{{i}}" data-date-format="yyyy-mm-dd" data-date-start-date="">
                                            <!--<input type="text" class="form-control ng-pristine ng-valid" readonly="" ng-model="product[i]['expiryDate']" > -->

                                            <input type="date" class="form-control" datepicker-popup ng-model="product[i]['expiryDate']"  is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />


                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input onClick="this.select();" type="tel" id="discount_{{i}}" ng-model="product[i]['bin_location']" value="{{product[i]['bin_location']}}" ng-change="updateQty(i,'bin_location')" data-ng-change="" class="form-control" name="product[i]['itemallowance']" maxlength="6">
                                        </div>
                                    </td>
                                    <td style="line-height:35px;font-size:15px;">               
                                        <button type="button" class="btn btn-danger" id="deletebtn_{{i}}"  data-ng-click="deleteRow(i);">刪除</button>
                                       
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="form-actions text-right" ng-if="allowSubmission == true">
                           <!-- <button type="button" ng-click="preSubmitOrder(0);" id="submitbutton0" class="btn red">提交不列印(F6)</button>-->
                            <button type="button" ng-click="preSubmitOrder(1);" id="submitbutton" class="btn {{submitButtonColor}}">{{submitButtonText}}</button>
                            <!-- <button type="button" ng-click="" class="btn default">取消</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Recent Product Modal -->
<div class="modal fade bs-modal-lg" id="recentProductModal" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>
				
				<h4 class="modal-title">最近下單貨品</h4>
			</div>
			<div class="modal-body">
			
				<form class="form-horizontal" role="form">
					<div class="form-body">
						<div class="">
							<div class="md-col-9">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-advance table-hover">
										<thead>
											<tr>
												<th style="width:10%;">#</th>
												<th style="width:45%;">貨品</th>
												<th style="width:15%;">送貨日期</th>
												<th style="width:10%;">數量</th>
												<th style="width:10%;">單價</th>
												<th style="width:10%;">折扣</th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="r in recentProduct" ng-click="selectRecentProduct(r.productId)" style="cursor: pointer;">
												<td>{{r.productId}}</td>
												<td>{{r.product_detail.productName_chi}}</td>
												<td>{{r.deliveryDate * 1000 | date: 'yyyy.MM.dd'}}</td>
												<td>{{r.productQty}} {{r.UnitName}}</td>
												<td>{{r.productPrice | currency}}</td>
												<td>
													<span data-ng-if="r.productDiscount > 0">{{r.productDiscount}}% OFF</span>
													<span data-ng-if="r.productDiscount == 0">N/A</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</form>		
				
			</div>
			<div class="modal-footer">
					<button type="button" class="btn default" data-dismiss="modal">取消</button>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>

<!-- Remark Modal -->
<div class="modal fade" id="remarkModal" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">備注:</h4>
			</div>
			<div class="modal-body">
				 <input type="text" ng-model="editable_remark" class="form-control" maxlength="50" name="defaultconfig" id="maxlength_defaultconfig">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn blue" data-ng-click="saveRemark(editable_remark);">儲存</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<!-- SUccess Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">提交採購單</h4>
			</div>
			<div class="modal-body text-center">
				<br/><br/><br/>
				<div class="row">
					<div class="col-md-4">
						<i class="fa fa-check blue" style="font-size:130px;margin: 30px 0 0 30px;"></i><br/>
					</div>
					<div class="col-md-8" style="text-align:left;">
						<span style="font-size:30px;">採購單編號: {{orders.invoiceNumber}}</span><br/>
						<span style="font-size:30px;">採購單狀態: {{statustext}}</span>
					</div>
				</div> 
			</div>
			<div class="modal-footer">
				<!-- <button type="button" class="btn green-haze" data-ng-click="sm_goto('myinvoice');">檢視我的訂單</button>
				<button type="button" class="btn yellow-casablanca" data-ng-click="sm_goto('editinvoice');">修改本訂單</button> -->
				<button type="button" class="btn blue" data-ng-click="sm_goto('newinvoice');">新採購單 ({{countdown}} 秒)</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div ng-include="'/views/model_receive.html'"></div>

