<form class="form-horizontal form-row-seperated" action="javascript:;" id="expenses">

    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8">


            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-basket font-green-sharp"></i>
						<span class="caption-subject font-green-sharp bold uppercase">
						支出輸入:</span>
                        <span class="caption-helper">&nbsp;</span>
                    </div>

                </div>


                <div class="tab-content no-space">
                    <div class="tab-pane active" id="tab_general">
                        <div class="form-body">


                            <div class="form-group">

                                <label class="col-md-2 control-label">車號:
                                </label>
                                <div class="col-md-3">
                                    <select class="form-control"
                                            ng-model="expenses.zone"
                                            data-ng-options="x.zoneName for x in systeminfo.availableZone track by x.zoneId"
                                            >
                                        <option value=''>選擇車號</option>

                                    </select>
                                </div>
                            </div>


                            <div class="form-group" id="datepicker">
                                <label class="col-md-2 control-label">選擇日期:
                                </label>
                                <div class="col-md-3">
                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="">
                                        <input type="text" class="form-control" ng-model="expenses.date"  readonly>
											<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">停車場:
                                </label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" data-ng-model="expenses.cost1" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">隊道:
                                </label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" data-ng-model="expenses.cost2" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">採購貨品:
                                </label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" data-ng-model="expenses.cost3" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">採購貨品註明:
                                </label>
                                <div class="col-md-3">
                                    <textarea class="form-control" data-ng-model="expenses.cost3_remark" placeholder=""></textarea>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">雜費:
                                </label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" data-ng-model="expenses.cost4" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">雜費註明:
                                </label>
                                <div class="col-md-3">
                                    <textarea class="form-control" data-ng-model="expenses.cost4_remark" placeholder=""></textarea>

                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-12">
                                     <div class="pull-right"> <button type="button" ng-click="submit();" id="submitbutton" class="btn red">{{buttonText}}</button></div>
                                </div>
                            </div>



                        </div>
                    </div>



                </div>

            </div>



        </div>

        <div class="col-md-2"></div>
    </div>


</form>

