<form class="form-horizontal form-row-seperated" action="javascript:;" id="expenses">

    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8">


            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-basket font-green-sharp"></i>
						<span class="caption-subject font-green-sharp bold uppercase">
						支出輸入:</span>
                        <span class="caption-helper">&nbsp;</span>
                    </div>

                </div>


                <div class="tab-content no-space">
                    <div class="tab-pane active" id="tab_general">
                        <div class="form-body">




                            <div class="form-group">

                                <div class="col-md-12">
                                     <div class="pull-right"> <button type="button" ng-click="submit();" id="submitbutton" class="btn red">{{buttonText}}</button></div>
                                </div>
                            </div>



                        </div>
                    </div>



                </div>

            </div>



        </div>

        <div class="col-md-2"></div>
    </div>


</form>

