<!-- BEGIN HEADER TOP -->
<style>
    .adjustHeight
    {
        min-height:128px;
    }
</style>
<div class="page-header-top">
	<div class="container-fluid">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<!-- <a href="#"><img src="/assets/admin/layout3/img/logo-default.png" alt="logo" class="logo-default"></a> -->
            <a href="#/salesPanel"><img src="/assets/admin/layout3/img/logo-default.png" alt="logo" class="logo-default"></a>
			<span style="font-size:25px;">炳記行貿易有限公司</span>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler"></a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
			
				
				<!-- BEGIN NOTIFICATION DROPDOWN FOR APPROVAL -->

					<li class="dropdown dropdown-extended dropdown-dark dropdown-notification" id="printjob_notification">
						<a href="/#/push-to-print" class="dropdown-toggle" data-toggle="dropdown" id="printjob_notificationbtn" data-hover="dropdown" data-close-others="true">
						<i class="fa glyphicon glyphicon-print"></i>
						<span class="badge badge-default">{{notification.printjobs}}</span>
						</a>
						
					</li>



					<li class="dropdown dropdown-extended dropdown-dark dropdown-notification" id="approval_notification" data-ng-if="notification.1today.countInDataMart > 0">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" id="approval_notification_btn" data-hover="dropdown" data-close-others="true">
						<i class="fa glyphicon glyphicon-send"></i>
						<span class="badge badge-default">{{notification.1today.countInDataMart}}</span>
						</a>
						<ul class="dropdown-menu">
							<li class="external">
								<h3>共有<strong>{{notification.1today.countInDataMart}} 張</strong> 訂單需要批核</h3>
								<a href="/#/pendingInvoice?scope=pendingOrder&date=today">檢視待批核的訂單</a>
							</li>
							<li>
								<ul class="dropdown-menu-list scroller" style="min-height: 250px;" data-handle-color="#637283">
									<li data-ng-repeat="c in notification.1today.breakdown">
										<a href="/#/pendingInvoice?scope=pendingOrder&date=today&zone={{c.zoneId}}">
										<!-- <span class="time">{{c.lastload}}</span> -->
										<span class="details">
											<span class="label label-sm label-icon label-success">
											<i class="fa fa-location-arrow"></i>
										</span>
										<strong>{{c.zoneId}}</strong> 號 <strong>{{c.zoneText}}</strong> 車: <strong>{{c.counts}}</strong> 張 </span>
										</a>
									</li>									
								</ul>
							</li>
						</ul>
					</li>

                <li class="dropdown dropdown-extended dropdown-dark dropdown-notification" id="approval_notification1" data-ng-if="notification.1yesterday.countInDataMart > 0">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" id="approval_notification_btn1" data-hover="dropdown" data-close-others="true">
                        <i class="fa glyphicon glyphicon-folder-open"></i>
                        <span class="badge badge-default">{{notification.1yesterday.countInDataMart}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3>共有<strong>{{notification.1yesterday.countInDataMart}} 張</strong> 訂單需要批核</h3>
                            <a href="/#/pendingInvoice?scope=pendingOrder&date=yesterday">檢視待批核的訂單</a>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="min-height: 250px;" data-handle-color="#637283">
                                <li data-ng-repeat="c in notification.1yesterday.breakdown">
                                    <a href="/#/pendingInvoice?scope=pendingOrder&date=yesterday&zone={{c.zoneId}}">
                                        <!-- <span class="time">{{c.lastload}}</span> -->
										<span class="details">
											<span class="label label-sm label-icon label-success">
											<i class="fa fa-location-arrow"></i>
										</span>
										<strong>{{c.zoneId}}</strong> 號 <strong>{{c.zoneText}}</strong> 車: <strong>{{c.counts}}</strong> 張 </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
					
					<li class="dropdown dropdown-extended dropdown-dark dropdown-notification" id="rejected_notification" data-ng-if="notification.3.countInDataMart > 0">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" id="rejected_notification_btn" data-hover="dropdown" data-close-others="true">
						<i class="fa glyphicon glyphicon-remove"></i>
						<span class="badge badge-default">{{notification.3.countInDataMart}}</span>
						</a>
						<ul class="dropdown-menu">
							<li class="external">
								<h3>你有<strong>{{notification.3.countInDataMart}} 張</strong> 訂單被拒絕</h3>
								<a href="/#/pendingInvoice?scope=rejectedOrders">檢視被拒絕的訂單</a>
							</li>
							<li>
								<ul class="dropdown-menu-list scroller" style="min-height: 250px;" data-handle-color="#637283">
										<li data-ng-repeat="i in notification.3.breakdown">
											<a href="/#/pendingInvoice?scope=rejectedOrders&zone={{i.zoneId}}">
											<!-- <span class="time">{{i.lastload}}</span> -->
											<span class="details">
												<span class="label label-sm label-icon label-success">
												<i class="fa glyphicon glyphicon-remove"></i>
											</span>
											<strong>{{i.zoneId}}</strong> 號 <strong>{{i.zoneText}}</strong> 車: <strong>{{i.counts}}</strong> 張 </span>
											</a>
										</li>
									
								</ul>
							</li>
						</ul>
					</li>
					<!-- END NOTIFICATION DROPDOWN -->
					<!-- BEGIN Zone DROPDOWN -->
					<li class="dropdown dropdown-language dropdown-dark" style="margin-left:5px;margin-right:15px;display:none;">
						<a href="javascript:;" data-ng-click="switchZone();" class="dropdown-toggle" style="font-size:14px;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
							<span class="langname">現時區域: {{systemInfo.currentzone}}</span>
						</a>
					</li>
					<!-- END Zone DROPDOWN -->
					
					
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<li class="dropdown dropdown-user dropdown-dark">
					<a href="javascript:;" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
					<!-- <img alt="" class="img-circle" src="/assets/admin/layout3/img/avatar9.jpg"> -->
					<span class="username username-hide-mobile">{{systemInfo.username}}</span>
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
						<li>
							<a href="{{endpoint}}/changePassword">
							<i class="icon-user"></i> 更改密碼 </a>
						</li>

						<li>
							<a href="{{endpoint}}/logout?mode=manual">
							<i class="icon-key"></i> 登出 </a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
	<div class="container-fluid">
		<!-- BEGIN HEADER SEARCH BOX -->
		<!--<form class="search-form" action="extra_search.html" method="GET">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search" name="query">
				<span class="input-group-btn">
				<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
				</span>
			</div>
		</form>-->
		<!-- END HEADER SEARCH BOX -->
		<!-- BEGIN MEGA MENU -->
		<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
		<!-- DOC: Remove dropdown-menu-hover and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
		<div class="hor-menu">
			<ul class="nav navbar-nav">
                <!-- <li class="active">
                <a href="#/salesPanel"><i class="fa fa-home"></i>主控台</a>
            </li>


            <li class="menu-dropdown">
                <a href="/#/newOrder" ng-click="$state.go('newOrder', {}, {reload: true});">新訂單</a>
            </li>

            <li class="menu-dropdown">
                <a href="/#/queryInvoice" ng-click="$state.go('queryInvoice', {}, {reload: true});">搜尋訂單</a>
            </li>

            <li class="menu-dropdown">
                <a href="/#/reportSelection" ng-click="$state.go('reportSelection', {}, {reload: true});">報告系統</a>
            </li>

            <li class="menu-dropdown" data-ng-if="systemInfo.permission.customer_maintenance == true">
                <a href="/#/customerMaintenance" ng-click="$state.go('customerMaintenance', {}, {reload: true});">客戶設定</a>
            </li>

            <li class="menu-dropdown" data-ng-if="systemInfo.permission.product_maintenance == true">
                <a href="/#/productMaintenance" ng-click="$state.go('productMaintenance', {}, {reload: true});">產品設定</a>
            </li>

            <li class="menu-dropdown" data-ng-if="systemInfo.permission.staff_maintenance == true">
                <a href="/#/user-maintenance/listing" ng-click="$state.go('userListing', {}, {reload: true});">用戶設定</a>
            </li>

            <li class="menu-dropdown" data-ng-if="systemInfo.permission.invoice_maintenance == true">
                <a href="/#/invoicePrintMaintenance" ng-click="$state.go('invoicePrintMaintenance', {}, {reload: true});">訂單設定</a>
            </li>
             -->
				
				<li class="menu-dropdown" data-ng-if="systemInfo.permission.add_invoice == true">
					<a href="/#/newOrder" ng-click="$state.go('newOrder', {}, {reload: true});"><i class="fa fa-plus"></i>增加訂單</a>
				</li>
				
				<li class="menu-dropdown" data-ng-if="systemInfo.permission.view_invoice == true">
					<a href="/#/queryInvoice"><i class="fa fa-search"></i>搜尋訂單 </a>	
				</li>

                <li class="menu-dropdown" data-ng-if="systemInfo.permission.view_invoice == true">
                    <a href="/#/queryProduct"><i class="fa fa-search"></i>銷售產品 </a>
                </li>





				<!--<li class="menu-dropdown">
					<a data-ng-click="updateStatusFindReport(11);" href=""><i class="fa fa-code-fork"></i>訂單流程</a>	
				</li>-->


                <!--data-ng-if="systemInfo.permission.view_report == true" -->
                <li class="menu-dropdown" >
                    <a href="/#/reportSelection" ><i class="fa fa-star-half-o"></i>報表系統</a>
                </li>

                <li class="menu-dropdown mega-menu-dropdown">


                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
                        <i class="fa fa-cogs"></i>
                        財務功能 <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">


                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li ng-if="systemInfo.permission.view_cheque == true">
                                                <a href="/#/chequeListing?action=credit" class="iconify">
                                                    <i class="icon-home"></i>
                                                    結帳列表(月結) </a>
                                            </li>
                                            <li ng-if="systemInfo.permission.view_cashCustomerCheque == true">
                                                <a href="/#/chequeListing?action=cod" class="iconify">
                                                    <i class="icon-home"></i>
                                                    結帳列表(現金客) </a>
                                            </li>
                                            <li ng-if="systemInfo.permission.view_cashCustomer == true">
                                                <a href="/#/customerCashListing" class="iconify">
                                                    <i class="icon-home"></i>
                                                   現金單付款處理</a>
                                            </li>
                                            <li ng-if="systemInfo.permission.view_expenses == true">
                                                <a href="/#/expensesListing" class="iconify">
                                                    <i class="icon-home"></i>
                                                    支出/差額管理</a>
                                            </li>
                                            <li ng-if="systemInfo.permission.view_income == true">
                                                <a href="/#/incomeListing" class="iconify">
                                                    <i class="icon-home"></i>
                                                    實收管理</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>

                </li>



                <li class="menu-dropdown mega-menu-dropdown" data-ng-if="systemInfo.permission.view_financialReport == true" >


                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
                        <i class="fa fa-cogs"></i>
                        財務報表 <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <a href="/#/agingByZoneCash" class="iconify">
                                                    <i class="icon-home"></i>
                                                    Accounts Receivable Aging Report by zone(Cash Sales)</a>
                                            </li>
                                            <li>
                                                <a href="/#/agingByCustomerCredit" class="iconify">
                                                    <i class="icon-home"></i>
                                                    Accounts Receivable Aging Report(Credit Sales) </a>
                                            </li>
                                            <li>
                                                <a href="/#/agingByCustomerCash" class="iconify">
                                                    <i class="icon-home"></i>
                                                    Accounts Receivable Aging Report(Cash Sales) </a>
                                            </li>
                                            <li>
                                                <a href="/#/dailySalesSummary" class="iconify">
                                                    <i class="icon-home"></i>
                                                    Daily sales summary </a>
                                            </li>
                                            <li>
                                                <a href="/#/yearEndReport" class="iconify">
                                                    <i class="icon-home"></i>
                                                    Year-end report</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>

                </li>


                <li class="menu-dropdown" data-ng-if="systemInfo.permission.add_po == true">
                    <a href="/#/PoMain" ng-click="hardRefresh('/#/PoMain')"  class="iconify">
                        <i class="fa fa-plus"></i>
                        增加購單 </a>
                </li>
                <li class="menu-dropdown" data-ng-if="systemInfo.permission.view_po == true">
                    <a href="/#/queryPO" class="iconify" >
                        <i class="fa fa-search"></i>
                        搜尋購單 </a>
                </li>

                <li class="menu-dropdown mega-menu-dropdown" data-ng-if="systemInfo.permission.view_inventory == true" >
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
                        <i class="fa fa-cogs"></i>
                        庫存管理<i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <a href="/#/inventoryListing" class="iconify" data-ng-if="systemInfo.permission.view_inventory == true">
                                                    <i class="icon-home"></i>
                                                    存貨列表</a>
                                            </li>

                                            <li>
                                                <a href="/#/inventoryAdjustmentHistory" class="iconify" data-ng-if="systemInfo.permission.view_inventoryHistory == true">
                                                    <i class="icon-home"></i>
                                                    存貨調整記錄</a>
                                            </li>

                                            <li>
                                                <a href="/#/receiveCtrl" class="iconify" ng-click="$state.go('receiveCtrl', {}, {reload: true});">
                                                    <i class="icon-home"></i>
                                                    收貨管理 </a>
                                            </li>

                                            <li>
                                                <a href="/#/receiveList" class="iconify">
                                                    <i class="icon-home"></i>
                                                    收貨列表 </a>
                                            </li>
                                            <li>
                                                <a href="/#/salesReturn/" class="iconify">

                                                    產品回貨 </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>



                            </div>
                        </li>
                    </ul>

                </li>




                <li class="menu-dropdown mega-menu-dropdown ">
					<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
					<i class="fa fa-cogs"></i>
					系統維護 <i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu" style="min-width: 710px">
						<li>
							<div class="mega-menu-content">
								<div class="row">
									<div class="col-md-3 adjustHeight">
										<ul class="mega-menu-submenu">
											<li>
												<h3>客戶相關</h3>
											</li>
                                            <li ng-if="systemInfo.permission.view_customer == true">
												<a href="/#/customerMaintenance" class="iconify">
												<i class="icon-home"></i>
												客戶管理 </a>
											</li>
                                            <li  data-ng-if="systemInfo.permission.view_group == true">
                                                <a href="/#/groupMaintenance" class="iconify">
                                                    <i class="icon-home"></i>
                                                    集團管理 </a>
                                            </li>
										</ul>
									</div>
									<div class="col-md-3 adjustHeight">
										<ul class="mega-menu-submenu">
											<li>
												<h3>產品相關</h3>
											</li>
                                            <li  data-ng-if="systemInfo.permission.view_product == true">
												<a href="/#/productMaintenance" class="iconify">
												<i class="icon-cursor-move"></i>
												產品設定 </a>
											</li>
                                            <li  data-ng-if="systemInfo.permission.view_productGroup == true">
												<a href="/#/productDepartmentMaintenance" class="iconify">
												<i class="icon-pin"></i>
												類別設定 </a>
											</li>
											
										</ul>
									</div>
									<div class="col-md-3 adjustHeight">
										<ul class="mega-menu-submenu">
											<li>
												<h3>用戶相關</h3>
											</li>
											<li ng-if="systemInfo.permission.view_staff == true">
												<a href="/#/user-maintenance/listing" class="iconify">
												<i class="icon-speech"></i>
												員工設定 </a>
											</li>
                                            <li ng-if="systemInfo.permission.allow_permission == true">
                                                <a href="/#/permission_control" class="iconify">
                                                    <i class="icon-speech"></i>
                                                    權限管理 </a>
                                            </li>
										</ul>
									</div>
									<div class="col-md-3 adjustHeight" >
										<ul class="mega-menu-submenu">
											<li>
												<h3>訂單相關</h3>
											</li>
                                            <li  data-ng-if="systemInfo.permission.view_adv == true">
												<a href="/#/invoicePrintMaintenance" class="iconify">
												<i class="icon-speech"></i>
												收據及廣告設定 </a>
											</li>
										</ul>
									</div>

                                     <div class="col-md-3 adjustHeight" >
										<ul class="mega-menu-submenu">
											<li>
												<h3>供應商相關</h3>
											</li>

											<li>
                                                                                             <a href="/#/supplierMain" class="iconify"  data-ng-if="systemInfo.permission.view_supplier == true">
                                                                                             <i class="icon-home"></i>
                                                                                            供應商管理 </a>
                                                                                         </li>
                                                                                         <li>
                                                                                             <a href="/#/countryController" class="iconify"  data-ng-if="systemInfo.permission.view_supplier == true">
                                                                                             <i class="icon-home"></i>
                                                                                            國家管理 </a>
                                                                                         </li>
                                                                                          <li>
                                                                                             <a href="/#/currencyController" class="iconify"  data-ng-if="systemInfo.permission.view_supplier == true">
                                                                                             <i class="icon-home"></i>
                                                                                            貨幣管理 </a>
                                                                                         </li>
										</ul>
									</div>
                                                                    
                                    <div class="col-md-3 adjustHeight" >
										<ul class="mega-menu-submenu">
											<li>
												<h3>船務相關</h3>
											</li>

											 <li>
                                                                                             <a href="/#/shipping" class="iconify" ng-click="$state.go('shipping', {}, {reload: true});" data-ng-if="systemInfo.permission.view_shipping == true">
                                                                                             <i class="icon-home"></i>
                                                                                            船務管理 </a>
                                                                                         </li>
                                                                                          <li>
                                                                                             <a href="/#/searchship" class="iconify" ng-click="hardRefresh('/#/searchship')"  data-ng-if="systemInfo.permission.view_shipping == true">
                                                                                             <i class="icon-home"></i>
                                                                                            搜尋船務 </a>
                                                                                         </li>      
                                                                                          <li>
                                                                                             <a href="/#/ships" class="iconify"  data-ng-if="systemInfo.permission.view_shipping == true">
                                                                                             <i class="icon-home"></i>
                                                                                            船務管理列表 </a>
                                                                                         </li>   
										</ul>
									</div>




								</div>
							</div>
						</li>
					</ul>
				</li>
                                



              <!--  <li class="menu-dropdown mega-menu-dropdown"  data-ng-if="systemInfo.permission.supervisor_up == true">


                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
                        <i class="fa fa-cogs"></i>
                        數據分析 <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">


                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <a href="/#/dailyReport" class="iconify">
                                                    <i class="icon-home"></i>
                                                    每日成本 </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>

                </li>
				
				<!-- 
				<li class="menu-dropdown">
					<a href="">價目表</a>
				</li>
				
				<li class="menu-dropdown">
					<a href="">鎖售分析</a>
				</li>
				
				<li class="menu-dropdown">
					<a href="">送貨情況</a>
				</li> -->
				
			</ul>
		</div>
		<!-- END MEGA MENU -->
	</div>
</div>
<!-- END HEADER MENU -->


<div class="modal fade bs-modal-lg" id="switchZoneModal" tabindex="999999999" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">切換區域</h4>
			</div>
			<div class="modal-body">
				 <div class="row"> 
				 	<h4 class="col-md-3"  data-ng-repeat="z in systemInfo.availableZone" style="height:50px;font-size:18px;color:black;cursor: pointer;" data-ng-click="switchToZone(z.zoneId, z.zoneName)">
				 		<span aria-hidden="true" class="icon-pointer" data-ng-if="z.zoneName == systemInfo.currentzone"></span>
				 		<span aria-hidden="true" class="icon-paper-plane" data-ng-if="z.zoneName != systemInfo.currentzone"></span>
				 		{{z.zoneId}} - {{z.zoneName}}	
				 	</h4>
				 </div>
			</div>
			<div class="modal-footer" data-ng-if="previewItem.invoiceStatus == 1">
				<button type="button" class="btn default" data-dismiss="modal">取消</button>

			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div data-ng-include="'views/model_updateStatusFindReport.html'">  </div>
